/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
//  background: url(/static/img/bgalbatross.jpg) no-repeat center center; 
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;

}
body {
  /* Margin bottom by footer height */
  margin-bottom: 250px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 250px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 30px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  background-color: rgba(255,255,255,0.8);
}

code {
  font-size: 80%;
}

.ui-autocomplete {
	position: absolute;
	top: 100%;
	left: 0;	
	z-index: 1000;
	float: left;
	display: none;
	min-width: 160px;
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	_width: 160px;
	padding: 4px 10px;
	margin: 2px 0 0 0;
	list-style: none;
	background-color: #ffffff;	
	border-color: #ccc;
	border-color: rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	*border-right-width: 2px;
	*border-bottom-width: 2px;
 
	.ui-menu-item > a.ui-corner-all {
		display: block;
		padding: 3px 15px 0px 0px;
		clear: both;
		font-weight: normal;
		line-height: 18px;
		color: #555555;
		white-space: nowrap;
  
		&.ui-state-hover, &.ui-state-active {
			color: #ffffff;
			text-decoration: none;
			background-color: #0088cc;
			border-radius: 0px;
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			background-image: none;
		}
	}
}
