{% extends 'base.html' %}
{% block body_block %}
<div class="panel-body">
	<div class="alert alert-success alert-dismissable">
  	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		{{ info_msg }}
  </div>
  <div class="alert alert-danger alert-dismissable" style="display: none;">
  	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  </div>
</div>
{% endblock body_block %}
