<div class="panel-body">
	<div class="panel-heading">
		<div>
			<div class="dataTables_paginate paging_simple_numbers">	</div>
		</div>
	</div>
            <!-- /.row -->
           <div class="row">
			<div>
                <div class="panel-group" id="Animal-Detail-accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#Animal-Detail-accordion" href="#Animal-Detail-panel"><h3>Animal Detail</h3></a>
                        </div>
						<div class="panel-body" id="Animal-Detail-panel">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form">
                                        <div class="form-group">                                                                           
                                            <p id="animal-id"> <b> Animal ID: </b> {{cur_animal.pk}} </p>
											<div class="form-group">
												 <p> <b>Animal Gender: </b> {{cur_animal.gender}} </p>
												<!--<input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" value={{cur_animal.gender}} disabled>
												
												<select class="form-control" value={{cur_animal.gender}} disabled >
													<option></option>
													<option>Male</option>
													<option>Female</option>
													<option>Unknown</option>                                          
												</select>
												-->
											</div>
											</div>
												<div class="form-group">
												<p> <b>Comments: </b> {{cur_animal.comments}} </p>
												<!--<textarea disabled class="form-control" rows="3" value={{cur_animal.comments}}  > </textarea>
												<p class="help-block">Comments about the animal</p> -->
											</div>
										<div class="form-group">
                                            <p> <b>Record Created: </b> {{cur_animal.date_created}} </p>
											<!--<label for="disabledselect">Record Created</label>
                                            <input class="form-control" id="disabledInput" type="datetime" placeholder="Disabled input" value={{cur_animal.date_created|date:"d/m/Y"}} disabled>
                                            <p class="help-block">Displays the date the record  was created</p> -->
                                        </div>
										<div class="form-group">
                                            <p> <b> Record created by: </b> {{cur_animal.created_by}} </p>
											<!--<label for="disabledselect">Record Created By: </label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" value={{cur_animal.created_by}} disabled>
                                            <p class="help-block">The user who created the record</p> -->
                                        </div>
										<div class="form-group">
                                            <p> <b>Record last modified by: </b> {{cur_animal.modified_by}} </p>
											<!--<label for="disabledselect">Record modified by</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" value={{cur_animal.modified_by}} disabled>
                                            <p class="help-block">The user who last modified the record</p> -->
                                        </div>
								
										<div class="form-group">
											<p> <b> Date of last modification: </b> {{cur_animal.date_modified}}</p>
											<!--<label>Date Modified</label>
											<input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" value={{cur_animal.date_modified|date:"d/m/Y"}} disabled>
											 <p class="help-block">The date on which this record was last modified</p> -->
										</div>
										<div>
											<a class="btn btn-primary" data-toggle="modal" data-target="#animal-detail-div" href="/portal/animal/edit/{{cur_animal.pk}}">Edit Animal</a>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		

                       
                        <!-- /.panel-body -->

                    
<!-- /. panel group -->

<div id="animal-detail-div" class="modal fade">
  <div class="modal-dialog modal-sml">
    <div class="modal-content">
    </div>
  </div>
</div>




