{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class="panel-body">
	<div class="alert alert-success alert-dismissable" id="sucess" style="display: none;">
  	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  </div>
  <div class="alert alert-danger alert-dismissable" style="display: none;">
  	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  </div>
</div>

{% include 'animal_detail.html' %}
{% include 'mark_list.html' %}
{% include 'log_list.html' %}
<!-- panel-group -->
{% endblock %}
{% block script_block %}

<script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/plugins/dataTables/dataTables.bootstrap.js' %}"></script>

<style type="text/css" media="print"> 
 {display:none} 
</style> 

<script>
(function($) {

$(document).ready(function() {

  // Start the user list table
  $("#mark-list").dataTable();
	 // Start the user list table
  $("#log-list").dataTable();
  
<<<<<<< HEAD
  $(".print_form").click(function(){
	  var options = { mode : "popup", popClose : false, retainAttr : ["id","class","style"] , extraCss : "{% static 'css/print.css' %}"};
	  var print = "";
	  print += ".form-group,";
	  print += ".panel-heading,";
    print += ".table-responsive";
   
  	$( print ).printArea( options );
  });

=======
  //get url parameters
  function getUrlVars()
{
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++)
    {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}

  var message = getUrlVars()

  switch(message["action"])
  {
    case "added_new_log":
    
	  $('#sucess').append("Successfully Added A New Log");
	  $('#sucess').show();
	break;
	
    case "updated_log":
    
	  $('#sucess').append("Successfully updated Log");
	  $('#sucess').show();
	 break;
	  
    case "added_new_animal":

      $('#sucess').append("Successfully added new animal");
      $('#sucess').show();
	break;
	  
    case "added_new_mark":

      $('#sucess').append("Successfully added new mark");
      $('#sucess').show();
	break;
	
    case "updated_animal":

      $('#sucess').append("Successfully updated animal");
      $('#sucess').show();
	break;
    
  }
  
          
  
>>>>>>> 9d3fae83c5b06c55b00309df57f775f16e119e3c
});

})(jQuery);

</script>
{% endblock script_block %} 
