{% extends 'base.html' %}
{% load static %}
{% block body_block %}



<style>


.savelogatticon, .dellogatticon {
	width:80px;
	float:left;
}
</style>


<div class="panel-body">
	<div class="alert alert-success alert-dismissable" style="display: none;">
  	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#" class="alert-link">Alert Link</a>.
  </div>
  <div class="alert alert-danger alert-dismissable" style="display: none;">
  	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#" class="alert-link">Alert Link</a>.
  </div>
</div>
<div class="row">
	<div class="col-lg-12">


		<div class="panel panel-default">
    	<div class="panel-heading">
      	<h4>{{title}} Attributes</h4>
      </div>
      <div class="panel-body">
      <form id ="form-attributes" >
      		{% csrf_token %}
				<div class="table-responsive">
					<table class="table table-striped table-hover" id="log-attributes">
						<thead width="100%">
							<th width="10%">Field Name</th>
							<th width="20%" >Type</th>
							<th width= "30%" >Description</th>
							<th width="20%">Attribute </th>
							<th width="20%">Operation</th>
						</thead>
						{% for a in attrs %}
						
						<tr role="row" class="odd">
						<td><input id="name" class="form-control" name="name{{forloop.counter0}}" required="" value="{{a.att.name}}"></td>
						<td>
						<select id="type" onchange="changeattrfield(this, {{forloop.counter0}})" class="form-control" name="type{{forloop.counter0}}" required="" >
						<option></option>
						<option {% if a.att.type == 'L' %} selected {%endif%}" value="Lookup">Lookup</option>
						<option {% if a.att.type == 'I' %} selected {%endif%} value="Integer">Integer</option>
						<option {% if a.att.type == 'F' %} selected {%endif%} value="Float">Float</option>
						<option {% if a.att.type == 'T' %} selected {%endif%} value="Text">Text</option>
						<option {% if a.att.type == 'D' %} selected {%endif%} value="Date/Time">Date/Time</option>
						</select>
						<table id="values_table">
						{% if a.vlist.0 %}
						
						{% for v in a.vlist %}
						<tr>
						<td><table>
						<tr>
						<td>
						<input class="form-control" value="{{v.short}}" name="sValues{{forloop.parentloop.counter0}}_{{forloop.counter0}}" id="sValues{{forloop.parentloop.counter0}}_{{forloop.counter0}}">
						</td>
						<td>
						<input class="form-control" value="{{v.long}}" name="lValues{{forloop.parentloop.counter0}}_{{forloop.counter0}}" id="lValues{{forloop.parentloop.counter0}}_{{forloop.counter0}}">
						</td><td>
						{%if forloop.counter0 > 0 %}
						<a type="button del_ep"  id="del_ep"   class="btn btn-sm btn-primary del_ep"><i class="fa fa-minus"></i></a>
						{% else %}
						<a type="button add_ep"  id="add_ep"    class="btn btn-sm btn-primary add_ep"><i class="fa fa-plus"></i></a>
						{% endif %}
						</td>
						</table></td>
						</tr>
						{%endfor%}
						{%else %}
						<tr id = "Values{{forloop.counter0}}" >
						{% if a.att.type == 'L' %} 
						<td><table>
						<tr>
						<td> <input class="form-control" name="sValues1" id="sValues1"></td>
						<td> <input class="form-control" name="lValues1" id="lValues1"></td>
						<td> 
						<a type="button add_ep"  id="add_ep"    class="btn btn-sm btn-primary add_ep"><i class="fa fa-plus"></i></a>
						</td>
						</table></td>
						{%endif%}
						</tr>
						{%endif %}
						</table>
						</td>
						<td><input id="desc" class="form-control" name="desc{{forloop.counter0}}" required="" value="{{a.att.description}}"></td>
						<td>
						<lable><input id="mandatory" type="checkbox" name="mandatory{{forloop.counter0}}" {% if a.att.is_mandatory %} checked="checked" {%endif%} />mandatory</lable> 
						</td>
						<td><a  class="btn btn-primary dellogatticon" id="dellogatticon"  name = "{{a.att.pk}}"><i class="fa fa-minus"></i> Delete</a>
						<a  class="btn btn-primary savelogatticon" id="savelogatticon" ><i class="fa fa-plus"></i>  Save </a></td>
						</tr>
						
						{% endfor %}
					</table>
				</div>
				<div class="panel-body">
					<a href="#!" class="btn btn-primary" id="addlogatticon"><i class="fa fa-plus"></i> Add Attribute</a>
				</div>	
		</form>
			</div>
		</div>
	</div>
</div>

{% endblock body_block %}
{% block script_block %}

<!-- Links to the Javascript files -->
<script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/plugins/dataTables/dataTables.bootstrap.js' %}"></script>

<script>



var attr_type = [
               'Lookup',
               'Integer',
               'Float',
               'Text',
               'Date/Time',
   	];


function add_ep() {

	var tableObj =  this.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode;
	var rows = tableObj.rows.length;
	var rowObj = tableObj.insertRow(-1);
	var cellObj1 = rowObj.insertCell(-1);
	cellObj1.innerHTML = '<table><tr><td><input id="sValues" name="sValues" class="form-control"></td><td><input id="lValues" name="lValues" class="form-control">\
	</td><td><a type="button" id="del_ep" class="btn btn-sm btn-primary del_ep"    ><i class="fa fa-minus"></i></a></td></tr></table>'
	$('.del_ep').unbind('click');
    $('.del_ep').click(del_ep);
	
	return false;
}
function del_ep() {
	this.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode);	
}


function changeattrfield(ele, pos) {
	// determine field type
	var val = ele.value

	var ptable = $(ele).parent().find('#values_table')
	if (val != 'Lookup') {
		ptable.empty()
	} else {
	
		ptable.append('<tr><td><table><tr><td><input  id="sValues'+pos+'" name="sValues'+pos+'" class="form-control"> </td><td><input  id="lValues'+pos+'" name="lValues'+pos+'" class="form-control"> </td>\
			<td><button  id="add_ep" type="button" class="btn btn-sm btn-primary add_ep"  ><i class="fa fa-plus"></i></button></td></tr></table></td></tr>')
	}
    $('.add_ep').unbind('click');
    $('.del_ep').unbind('click');
    $('.add_ep').click(add_ep);
    $('.del_ep').click(del_ep);
	return false;
}




function del_attr_line()
{
	var c = 0 ;
	
	c = confirm("Delete it!")
	if (c == 0) {
		return false;
	}
	id = $(this).attr("name");
	var t = $('#log-attributes').DataTable();
	t.row($(this).parents('tr')).remove()
	t.draw()
	if (id != 0) {
	    $.ajax({
	    	"url":"{{url}}",
	    	data:{
			    "id":id,
			    "csrfmiddlewaretoken": "{{csrf_token}}",    
			},
			success: function (data) {
				alert("Delete OK");
				return false;
			},
			error: function (XMLHttpRequest, textStatus, errorThrown) {
			    return true;
			}
		});
	}
}



function save_attr_line()
{
	var tr = $(this).parent().parent();
	
	var name = $(tr).find('#name').val();

	var type = $(tr).find('#type').val();

	var values = ""
	var desc = $(tr).find('#desc').val();

	tt = $(tr).find('#values_table');
	tt.find("input").each(function(){
		if (values.length != 0) {
			values += ','
		}
		values +=$(this).val()
	});
	
	var mandatory = $(tr).find('#mandatory').is(':checked');
	//var global = $(tr).find('#global').is(':checked');
	global = false;
	// todo removed global from global model
 
    $.ajax({
    	"type":"POST",
    	"url":"{{url}}",
    	data:{
		    "name":name,
		    "type":type,
		    "desc":desc,
		    "mandatory":mandatory,
		   // "global":global,
		    "values":values,
		    "csrfmiddlewaretoken": "{{csrf_token}}",
		    
		},
		success: function (data) {
			alert("Saved OK");
			return false;
		},
		error: function (XMLHttpRequest, textStatus, errorThrown) {
		    return true;
		}
	});
}

$(document).ready(function() {
	$('#log-attributes').dataTable({
		paging: false,
		ordering: false,
		searching: false,
		bAutoWidth: false,
	});
	

	
	$('#addlogatticon').click(function() {
		// add new table row
		var t = $('#log-attributes').DataTable();

		var opts = "";
		for (var i=0; i < attr_type.length; i++) {
			opts = opts + '<option value="' + attr_type[i] + '">' + attr_type[i] + '</option>\n';
		}
		var len = document.getElementById('log-attributes').rows.length - 1
		animallastrow = t.row.add( [  '<input id ="name" required="" name="name'+len+'" class="form-control" >', 
		                              '<select id ="type" required="" name="type'+len+'" class="form-control" onchange="changeattrfield(this, '+len+')"><option>' + opts + '</option></select>\
		                              <table id = "values_table"><tr id="Values'+len+'" ><td><td></tr></table>', 
		                              '<input id="desc" required="" name="desc'+len+'" class="form-control">',
		                              '<lable><input id = "mandatory"  type="checkbox" name="mandatory'+len+'"/>mandatory</lable> \
		                               {% if user.is_superuser %} {% endif %}',
		                              '<a  class="btn btn-primary dellogatticon" id="dellogatticon" name="0" ><i class="fa fa-minus"></i> Delete</a> \
		                               <a  class="btn btn-primary savelogatticon" id="savelogatticon" ><i class="fa fa-plus"></i> Save</a>']);
		
		animallastrow.draw();
		$('.savelogatticon').unbind('click');
	    $('.dellogatticon').unbind('click');
		$('.savelogatticon').click(save_attr_line);
        $('.dellogatticon').click(del_attr_line);
	});
	
	$('.savelogatticon').unbind('click');
    $('.dellogatticon').unbind('click');
    $('.add_ep').unbind('click');
    $('.del_ep').unbind('click');
	$('.savelogatticon').click(save_attr_line);
    $('.dellogatticon').click(del_attr_line);
    $('.add_ep').click(add_ep);
    $('.del_ep').click(del_ep);

});
</script>



{% endblock script_block %}
