{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class="row spacer">
<div id="alerts">
</div>
</div>
<div class="row">
	<div id="backup-list" class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h1>List Of Backups</h1>
			</div> <!-- /.panel-heading -->
			<div class="panel-body" id="backup-list">
                <table id="backup-list-table">
                    <thead>
                        <tr>
                            <th>Backup Name</th>
                            <th>Created On</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for b in backup_list %}
                        <tr>
                            <td><a href="{{ b.url }}">{{ b.name }}</a></td>
                            <td>{{ b.created }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
			</div> <!-- /.panel-body -->
			<div class="panel-body">
				<button id="backup-now" class="btn btn-primary">Request New Backup Now</button>
				<button id="restore-now" class="btn btn-default">Restore from Backup file</button>
			</div> <!-- /.panel-body -->
		</div> <!-- /. panel -->
	</div> <!-- /.col-md-12 -->
</div> <!-- /.row -->
{% endblock body_block %}
{% block script_block %}

<script>
var validation_errors = [];

/**
 * show_errors() - displays the validation errors in a dismissible dialog
 */
var show_errors = function() {
    var errlist = '<ul>';
    for (var i=0; i<validation_errors.length; i++) {
        errlist += '<li>' + validation_errors[i] + '</li>';
    }
    errlist += '</ul>';
    $('#alerts').html('<div class="alert alert-danger fade in"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>' + errlist + '</div>');
};

/**
 * show_errors() - displays the validation errors in a dismissible dialog
 */
var show_success = function(msg) {
    $('#alerts').html('<div class="alert alert-success fade in"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>' + msg + '</div>');
};

/**
 * request_backup() - Makes an AJAX request to do a backup
 */
var request_backup = function(event) {
	event.preventDefault();
        // make the ajax call
        $.ajax({
            url: '/portal/api/backup/request/',
            method: 'get',
            dataType: 'json',
            success: function(data) {
                if (data.success) {
                    show_success(data.success);
                } else {
                    validation_errors.push(data.error);
                    show_errors();
                }
            },
	});
}

$(document).ready(function() {
	$('#backup-now').click(request_backup);
});

</script>
{% endblock script_block %}