{% load static %}
{% block script_block %}   
 <!-- SB Admin Scripts - Include with every page -->
  <script src="{% static 'js/sb-admin.js' %}"></script>
{% endblock script_block %}
<div id="footer">
	<div class="container" style="background-color:#f5f5f5">
		<div class="col-md-12 col-md-offset-1">
			<p class="text-muted">This project has been developed by the Tasmanian Department of Primary Industries, Parks, Water and Environment with the support of the University of Tasmania.</P>
			<p class="text-muted"> Hosting is generously provided by NeCTAR. </p>
			<p class="text-muted">Site is Copyright (c) 2014 DPIPWE. All Rights Reserved.</p>
			<img src="{% static 'img/dpipwe_logo.gif' %}" align="right"/> 
		</div>
	</div>
</div>
