{% load static %}
<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ pagetitle }} - {{ pagemsg }}</title>

  <!-- Core CSS - Include with every page -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
  <link href="{% static 'css/plugins/dataTables/jquery.dataTables.css' %}" rel="stylesheeet">
  <link href="{% static 'css/plugins/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/test.css' %}" rel="stylesheet">
 	
  <!-- SB Admin CSS - Include with every page -->
  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

	<!-- Albatross Global CSS -->
	<link href="{% static 'css/albatross-global.css' %}" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
	<div class="navbar-header">
  	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
    	<span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/portal/">{{ pagetitle }}</a>
  </div>
			
	<ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
    	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
      	<i class="fa fa-user fa-fw"></i> {{ user.first_name }} {{ user.last_name }} <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
      	<li><a href="/portal/"><i class="fa fa-user fa-fw"></i> Home</a>
        </li>
        <li><a href="/portal/logout/"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
        </li>
      </ul>
      <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
  </ul>
</nav>
