<!-- this file holds the HTML for the main side menu -->
{% load static %}
<div class="navbar-default navbar-static-side" role="navigation">
	<!-- set up list of menu items -->
	<div class="sidebar-collapse">
  	<ul class="nav" id="side-menu">
      
			<!-- Link to dashboard -->
			<li>
        <a href="/portal/">Dashboard</a>
      </li>
			
			<!-- Current dataset selector -->
      <li>
        <!-- display selected dataset -->
				<a href="#">
					 Current Dataset: </br> {{  cur_ds.name }} 
					<span class="fa arrow"></span>
				</a>
				
				<!-- sub menu showing available datasets -->
				<ul class="nav nav-second-level">
					{% for d in datasets %}
						{% if d.pk != cur_ds.pk %}
							<li>
								<a href="/portal/dataset/change/{{ d.pk }}">{{ d.name }}</a>
							</li>
						{% endif %}
					{% endfor %}
        </ul><!-- /.nav-second-level -->
			</li>
      
			<!-- Search menu-->
			<li>
				<!-- Menu heading -->
        <a href="#">Search<span class="fa arrow"></a>
        <!-- search menu -->
				<ul class="nav nav-second-level">
					<li>
						<a href="/portal/query/">Query Builder</a>
					</li>
					<li>
						<a href="/portal/search/">Quick Search</a>
					</li>
        </ul>
      </li>
			<!-- Data menu -->
      <li>
				<a href="#">Add Data<span class="fa arrow"></a>
        <!-- data menu -->
				<ul class="nav nav-second-level">
         <!-- <li>
            <a href="/portal/animal/add">Add Animal</a>
          </li>-->
					<li>
						<a href="/portal/animal/add/wizard/">Add Animal (Wizard)</a>
					</li>
					<li>
             <a href="/portal/import/">Bulk Import</a>
          </li>
<!--     	<li>
            <a href="/portal/mark/">Add Mark</a>
          </li>
          <li>
						<a href="/portal/log/">Add Log</a>
          </li>
-->			</ul>
      </li>
			
			<!-- Administrator menu -->
			{% if user.is_superuser %} <!-- check if user is an admin -->
				<li>
					<a href="#">Dataset Admin<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li>
							<a href="/portal/animalattributes/">Animal Attributes</a>
						</li>
						<li>
							<a href="/portal/markattributes/">Mark Attributes</a>
						</li>
						<li>
							<a href="/portal/logattributes/">Log Attributes</a>
						</li>
						<li>
							<a href="/portal/breedingattributes/">Breeding Attributes</a>
						</li>
					</ul>
				</li>

				<li>
          <a href="#">Administration<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <a href="/portal/dataset/">Manage Datasets</a>
            </li>
            <li>
              <a href="/portal/user/">Manage Users</a>
            </li>
                                <li>
                                    <a href="/portal/backup/">Backup/Restore Database</a>
                                </li>
          </ul><!-- /.nav-second-level -->
        </li>
			{% endif %}
    </ul><!-- /#side-menu -->
  </div><!-- /.sidebar-collapse -->
</div>

