{% load static %}
<html>
	<head>
		<!-- Date Picker CSS -->
		<link href="{% static 'css/dist/css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
	</head>
	<body>
		{% include "base_header.html" %}
		{% include "base_menubar.html" %}
		<div id="page-wrapper">
		{% block body_block %}{% endblock body_block %}
		</div>

		<div id="footer">
			<div class="container" style="background-color:#f5f5f5">
				<div class="col-md-12 col-md-offset-1">
					<p class="text-muted">This project has been developed by the Tasmanian Department of Primary Industries, Parks, Water and Environment with the support of the University of Tasmania.</P>
					<p class="text-muted"> Hosting is generously provided by NeCTAR. </p>
					<p class="text-muted">Site is Copyright (c) 2014 DPIPWE. All Rights Reserved.</p>
					<img src="{% static 'img/dpipwe_logo.gif' %}" align="right"/> 
				</div>
			</div>
		</div>
		<!-- Core Scripts - Include with every page -->
		<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
		<script src="{% static 'js/jquery-ui-1.11.0/jquery-ui.min.js' %}"></script>

		<!-- Page-Level Plugin Scripts - Dashboard -->
		<script src="{% static 'js/plugins/morris/raphael-2.1.0.min.js' %}"></script>
		<script src="{% static 'js/plugins/morris/morris.js' %}"></script>

		<!-- SB Admin Scripts - Include with every page -->
		<script src="{% static 'js/sb-admin.js' %}"></script>

		<!-- Date Picker -->
		<script src="{% static 'js/moment.js' %}"></script>
		<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>

		<!-- Printer -->
		<script src="{% static 'js/jquery.PrintArea.js' %}" type="text/JavaScript" language="javascript"></script>

		{% block script_block %}{% endblock script_block %}
	</body>
</html>
