<div class="row">
  <div class="container-fluid">
		<div class="col-md-12"> 
			<ul class="nav nav-pills">
				<li class="disabled"><a href="#">File Upload > </a></li>
				<li class="disabled"><a href='#' >Settings > </a></li>
				<li class='active disabled'><a href="#" >Data Definition > </a></li>
				<li class='disabled'><a href="#" >Errors > </a></li>
				<li class='disabled'><a href="#" > Success </a></li>
			</ul>
		</div>
  </div>
</div>        
</br>  

<div class="col-lg-6">
	<div class="container-fluid">
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-danger">
					<p> {{message }}</p>
				</div>
			{% endfor %}
		{% endif %}
		<form name="BulkImportDataDef" action="/portal/import/bulk3/" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<label style="color:#428bca">Please Enter the Fields you wish to import into: </label> 
			</br> </br>
			<div class="container-fluid">
				<table class="table table-hover" id="Data Definition">
					<tbody>
						{% for i in first_row %} 
							<tr>
								<td>
									<label style="color:#428bca"> Column {{forloop.counter}}: </label>
								</td>
								<td>
									<select name="Column_{{forloop.counter}}">> 
										{% for option in list_of_fields %} 
											<option> {{option}} </option>
										{% endfor %}
									</select>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="row">
				<div class="col-md-4">
					<a class="btn btn-primary" href="/portal/import/bulk1"> < Back</a>
				</div>
				<div class="col-md-4">
					<a class="btn btn-warning center-block" href="/portal/">Cancel</a>
				</div>
				<div class="col-md-4">
					<input type="submit" class="btn btn-primary pull-right" value="Next >">
				</div>
			</div>
		</form>
	</div>
</div>