            <div class="row">
                <div class="col-lg-6">
                    <h2 class="page-header">Import Progress</h2>
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
           <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        Import Progress
                        </div>
                         <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
									<div class="progress progress-striped active">
										<div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
											<span class="sr-only">45% Complete</span>
											</div>
											</div>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>