<!-- this file creates the file import widget on the bulk import page -->

<div class="row">
  <div class="container-fluid">
		<div class="col-md-12"> 
			<ul class="nav nav-pills">
				<li class="active disabled"><a href="#">File Upload > </a></li>
				<li class="disabled"><a href='#' >Settings > </a></li>
				<li class='disabled'><a href="#" >Data Definition > </a></li>
				<li class='disabled'><a href="#" >Errors > </a></li>
				<li class='disabled'><a href="#" > Success </a></li>
			</ul>
		</div>
  </div>
</div>        
</br>    
<div class="row">
  <div class="container-fluid">
		<div class="col-lg-6">
			<div class="panel-heading">
				<div class="form-group">
					<label style="color:#428bca" for="BIfile">File Input</label>
					{% if messages %}
						{% for message in messages %}
							<div class="alert alert-danger">
								<p> {{message }}</p>
							</div>
						{% endfor %}
					{% endif %}
					<form name="BulkImportFileUpload" action="/portal/import/" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<input type="file" class="btn btn-default"  name="BIfile">
						<p class="help-block">Please upload a CSV file here</p>
						</br>
						<input type="submit" class="btn btn-primary" value="Upload File">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
