<!-- this file creates the bulk import success or error page -->
{% extends 'base.html' %}
{% block body_block %}
{% load static %}

<div class="col-lg-12">
	<div class="panel-heading">
		<h2 class="page-header">Bulk Import</h2>
	</div>
	<div class="row">
		<div class="container-fluid">
			<div class="col-md-12"> 
				<ul class="nav nav-pills">
					<li class="disabled"><a href="#">File Upload > </a></li>
					<li class="disabled"><a href='#' >Settings > </a></li>
					<li class='disabled'><a href="#" >Data Definition > </a></li>
					{% if error == 0 %}
						<li class='disabled'><a href="#" >Errors > </a></li>
						<li class='disabled active'><a href="#" > Success </a></li>
					{% else %}
						<li class='disabled active'><a href="#" >Errors > </a></li>
						<li class='disabled'><a href="#" > Success </a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div> 	
	<div class="row">
		<div class="container-fluid">
			<div class="col-md-4 col-md-offset-1"> 
				<h3 style="color:Green"> {{Outcome_Message }} </h3> 
				<p> {{ Count_Message }} </p>
			</div>
		</div>
	</div>
</div>



<!-- 
<div class="panel panel-primary">
	<div class="panel-heading">
		<h1>Bulk Import</h1>
	</div>
</div>
-->
{% endblock body_block %}