<!-- this file creates the bulk import data definition page (stage 3) -->
{% extends 'base.html' %}
{% block body_block %}


<div class="col-lg-12"">
	<div class="panel-heading">
		<h2 class="page-header">Bulk Import</h2>
	</div>
	{% include 'bulkimport_datadef.html' %}
</div>

<!-- 
<div class="panel panel-primary">
	<div class="panel-heading">
		<h1>Bulk Import</h1>
	</div>
</div>
-->
{% endblock body_block %}
