<div class="row">
  <div class="container-fluid">
		<div class="col-md-12"> 
			<ul class="nav nav-pills">
				<li class="disabled"><a href="#">File Upload > </a></li>
				<li class="active disabled"><a href='#' >Settings > </a></li>
				<li class='disabled'><a href="#" >Data Definition > </a></li>
				<li class='disabled'><a href="#" >Errors > </a></li>
				<li class='disabled'><a href="#" > Success </a></li>
			</ul>
		</div>
  </div>
</div>  

<div class="col-lg-6">
	<div class="container-fluid">
		<form name="BulkImportSettings" action="/portal/import/bulk2/" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			</br>
<!--	<div classs="row">
				<label style="color:#428bca" for="file_type">File Type: </label>
			</div>
			<select name="file_type" class="form-control">
				<option value="csv">CSV</option>
			</select> -->
			<label style="color:#428bca"> Does the file have a header row? </label>
			<select name="header_row" class="form-control">
				<option value="True">Yes</option>
				<option value="False">No</option>
			</select>
			</br>
			<label style="color:#428bca"> Date Format </label> </br>
			<select name="date_format" class="form-control">
				<option value="%d/%m/%Y"> dd/mm/YYYY (recommended) </option>
				<option value="%d/%m/%Y %H:%M"> dd/mm/YYYY HH:MM (24hour) (recommended)</option>
				<option value="%d/%m/%Y %I:%M %p"> dd/mm/YYYY HH:MM AM/PM </option>
				<option value="%d/%m/%Y %H:%M %Z"> dd/mm/YYYY HH:MM (24hour) TZ </option>
				<option value="%d/%m/%y"> dd/mm/YY </option>
				<option value="%d/%m/%y %H:%M"> dd/mm/YY HH:MM (24hour) </option>
				<option value="%m/%d/%y"> mm/dd/YYYY </option>
				<option value="%m/%d/%y %H:%M"> mm/dd/YYYY HH:MM </option>
				<option value="%d %b %Y"> dd Mon YYYY </option>
			</select>
			</br>
			<label style="color:#428bca"> What data are you importing? </label></br>
			<input type="radio" name="data_imported" value="Animal" checked>
			<label> New Animal's </label> </br>
			<input type="radio" name="data_imported" value="Log">
			<label>  Animal Logs</label></br>
				<input type="radio" name="data_imported" value="Breeding">
			<label> Animal Logs with Breeding Data</label></br>
				<input type="radio" name="data_imported" value="Mark">
			<label> Mark Data </label></br>	
		</br>
		<div class="row">
			<div class="col-md-4">
				<a class="btn btn-primary" href="/portal/import/"> < Back</a>
			</div>
			<div class="col-md-4">
				<a class="btn btn-warning center-block" href="/portal/">Cancel</a>
			</div>
			<div class="col-md-4">
				<input type="submit" class="btn btn-primary pull-right" value="Next >">
			</div>
		</div>
		</form>	
	</div>
</div>
