{% extends 'base.html' %}
{% block body_block %}
                        
	<style>
			
		#container {
		
		min-height: 350px;
		max-height: 350px;
		overflow: auto;
		
		}
		
		#wrap {
		
		padding: 10px 25px 10px 10px;
		
		}
		
		.content {
		
		margin-left: auto;
		margin-right: auto;
		padding: 0% 10% 0% 10%
			
		}
		
	
	</style>
	
	
<div class="content">
	<div class="panel-body">
        <div class="alert alert-success alert-dismissable" style="display:none;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#" class="alert-link">Alert Link</a>.
        </div>
        <div class="alert alert-danger alert-dismissable" style="display:none;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#" class="alert-link">Alert Link</a>.
        </div>
    </div>
                        

               	  

	
	<div id="center" class="row">
	
		<div id="wrap" class="col-md-12">
			<div id="welcome">
				<h2 id="wmsg">Welcome {{ user_detail.first_name }} {{ user_detail.last_name }} </h2>
			</div>
		</div>
		
		<div id="wrap" class="col-md-6">
            <div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title"> My Profile</h3>
				</div>
				<div id="container" class="panel-body">
					<div class="list-group">
						<div class="list-group-item">
							<span class="user-name">User Name:</span>
							<span class="pull-right">{{ user_detail.username }}</span>
						</div>
						<div class="list-group-item">
							<span class="Name">First Name:</span>
							<span class="pull-right">{{ user_detail.first_name }}</span>
						</div>
						<div class="list-group-item">
							<span class="av-data">Last Name:</span>
							<span class="pull-right">{{ user_detail.last_name }}</span>
						</div>
						<div class="list-group-item">
							<span class="av-data">Organisation:</span>
							<span class="pull-right">{{ user_profile.organisation }}</span>
						</div>
						<div class="list-group-item">
							<span class="av-data">Email:</span>
							<span class="pull-right">{{ user_detail.email }}</span>
						</div>
						<div class="list-group-item">
							<span class="av-data">Phone:</span>
							<span class="pull-right">{{ user_profile.phone }}</span>
						</div>
					</div>
				</div>
            </div>
        </div>
		
		<div id="wrap" class="col-md-6">
            <div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title"> My DataSets</h3>
				</div>
				<div id="container" class="panel-body">
					<div class="list-group">
						{% for d in datasets %}
						<div class="list-group-item">
							<span class="dataset">
								{% if cur_ds.pk = d.pk %}
								{{ d.name }} (Currently Selected)
								{% else %}
								<a href="/portal/dataset/change/{{ d.pk }}">{{ d.name }}</a>
								{% endif %}
							</span>
						</div>
						{% endfor %}
					</div>
				</div>
            </div>
        </div>
    			
		<div id="wrap" class="col-md-6">
            <div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Quick Links</h3>
				</div>
				<div id="container" class="panel-body">
					<div class="list-group">
						<a href="/portal/animal" class="list-group-item">
							Add Animal
						</a>
<!--                  	<a href="/portal/animal" class="list-group-item">
							Edit Animal
						</a>
						<a href="/portal/mark" class="list-group-item">
							Add Mark
						</a>
						<a href="/portal/mark" class="list-group-item">
							Edit Mark 
						</a>
						<a href="/portal/log" class="list-group-item">
							Add log
						</a>
						<a href="/portal/log" class="list-group-item">
							Edit Log
						</a>
-->
				  		<a href="/portal/query" class="list-group-item">
							Query Builder
						</a>
				  		<a href="/portal/search" class="list-group-item">
							Quick Search
						</a>
<!--
				  		<a href="/portal/import" class="list-group-item">
							Bulk Import
						</a>
				  		<a href="/static/help.html" class="list-group-item">
							I Need Help!
						</a>
-->
					</div>
                </div>
            </div>
		</div>
    </div>
</div><!-- /.row -->

          
												
{% endblock body_block %}
