<div class="row">
	<div class="col-lg-12">
		<form role="form" method="POST" action="/portal/dataset/newdataset/" id="adddatasetform">
		{% csrf_token %}	
		<div class="panel panel-primary">
			<div class="panel-heading">
				{% if adddataset == True %}<h2>Add Dataset</h2>
				{% else %}<h2>Edit Dataset: {{ ds.name }}</h2>
				{% endif %}
			</div>


			<div class="panel-body">
				<form id="dsdf">
				<div class="form-group">
					<input class="hidden" name="id" id="id" value="{{ds.id}}">
					</div>
					<div class="form-group">
            <label>Dataset Name</label>
              <input class="form-control" name="name" id="name" value="{{ ds.name }}">
						<p class="help-block">Common name for the dataset</p>
          </div>
					<div class="form-group">
          	<label>Owner</label>
            <select class="form-control" name="owner" id="owner">
							{% if adddataset != True %}
            	<option selected value="{{ ds.owner.id }}">{{ ds.owner.first_name }} {{ ds.owner.last_name }} ({{ ds.owner.username }})</option>
							{% else %}
							<option selected value="">Please select</option>
							{% endif %}

							{% for u in userlist %}
								{% if u.username != ds.owner.username %}
									<option value="{{ u.id }}">{{ u.first_name }} {{ u.last_name }} ({{ u.username }})</option>
								{% endif %}
							{% endfor %}
            </select>
          </div>
					<div class="form-group">
          	<label>Description</label>
            <textarea name="description" id="description" class="form-control" rows="3">{{ ds.description }}</textarea>
          </div>
					
        {% if adddataset == False %}
          <div class="form=group">
           <label>Date Created:</label> {{ ds.date_created }}</br>
           <label>Created By:</label> {{ ds.created_by }}</br>
           <label>Date Modified:</label> {{ ds.date_modified }}</br>
            <label>Modified By:</label> {{ ds.modified_by }}</br>
          </div>
					</br>
        {% endif %}

					<div class="form-group">
					{% if adddataset == True %}
						<button id="new" name="new" value="new" class="btn btn-primary">Submit</button>
					 {% else %}
						<button id="edit" name="edit" class="btn btn-primary">Edit</button>
						{% endif %}
						<button type="button" class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- col-lg-6 -->
</div>
<!-- row -->


<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script>
$('body').on('hidden.bs.modal', '.modal', function () {
    $(this).removeData('bs.modal');
});

</script>
