{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class="panel-body">
{% if info_msg %}
<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  {{ info_msg }}
</div>
{% endif %}
<div class="alert alert-danger alert-dismissable" style="display: none;">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
</div>
</div>    
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Dataset Management</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
          
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Dataset List
			</div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover" id="dataset-list">
                                    <thead>
                                        <tr>
                                            <th>Dataset Name</th>
                                            <th>Owner</th>
                                            <th>Description</th>
					    <th>Controls</th>
                                        </tr>
                                    </thead>
                                    <tbody>
{% for d in datasets %}
              {% if forloop.counter|divisibleby:2 %}
              	<tr class="even gradeX">
              {% else %}
                <tr class="odd gradeX">
              {% endif %}
							 <td><a href="/portal/dataset/editform/{{ d.id }}" data-toggle="modal" data-target="#dataset-detail-div">{{ d.name }}</a></td>
               <td>{{ d.owner.first_name }} {{ d.owner.last_name }}</td>
               <td>{{ d.description }}</td>
					    <td>
					    	<a href="/portal/dataset/editform/{{ d.id }}" data-toggle="modal" data-target="#dataset-detail-div"><i class="fa fa-pencil"></i></a> &nbsp; &nbsp;
					    	  </td>
                   </tr>
										{% endfor %}
                      </tbody>
                         </table>
                            </div>
                            <!-- /.table-responsive -->
                            <div class="well">
															<a class="btn btn-primary" data-toggle="modal" data-target="#dataset-detail-div" href="/portal/dataset/addform">Add Dataset</a>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
<div id="dataset-detail-div" class="modal fade">
  <div class="modal-dialog modal-sml">
    <div class="modal-content">
    </div>
  </div>
</div>
{% endblock body_block %}

{% block script_block %}
<script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/plugins/dataTables/dataTables.bootstrap.js' %}"></script>

<script>
$(document).ready(function() {
	$('#dataset-list').dataTable();
});
</script>
{% endblock script_block %}
