{% load static %}

{% block body_block %}

	<div class="panel-body">
		<div class="alert alert-success alert-dismissable" id="success" style="display: none;">
	  		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		</div>
		<div class="alert alert-danger" id="error" style="display:none">
	  		
		</div>
		<div class="alert alert-danger" id="server_error" style="display:none">
	  		
		</div>
	
		<div class="panel-headng">
			{% if addlog == True %}
			<h2>Add New Log</h2>
			{% else %}
			<h2>Edit Log:</h2>
			{% endif %}
		<!-- /.panel-heading -->	
		</div>
		
		<div class="row">
		
			<div class="col-lg-12">
				<input type="hidden" id="addlog" value="{{addlog}}" disabled>
				<input type="hidden" id="edit_type" value="{{log.log_type}}" disabled> 
				<!--{% if addlog == True %}
				<form role="form" method="POST" action="/portal/log/add/{{ cur_animal.id }}/" id="addlogform">
				{% else %}
				<form role="form" method="POST" action="/portal/log/edit/{{ log.id }}/" id="editlogform">
				{% endif %}-->
				
					
					
					<ul class="nav nav-pills" id="myTab">
						<li class="active disabled" id="li0"><a href="#tab0" data-toggle="">Date & Type</a></li>
						<li class ="disabled" id="li1"><a href="#tab1" data-toggle="">Resight</a></li>
						<li class ="disabled" id="li2"><a href="#tab2" data-toggle="">Resight Attributes</a></li>
						<li class ="disabled" id="li3"><a href="#tab3" data-toggle="">Breeding</a></li>
						<li class ="disabled" id="li4"><a href="#tab4" data-toggle="">Breeding Attributes</a></li>
						<li class ="disabled" id="li5"><a href="#tab5" data-toggle="">File</a></li>
					<!-- /.nav nav-pills -->	
					</ul>
					
					</br>
					
					<div class="tab-content">
						
						<!-- Date & Type -->
						<div class="tab-pane active" id="tab0">
						
							<!-- Animal ID -->
							<div class="form-group">
							 {% if addlog == True %}
								<label for="id">Animal ID:</label> {{ cur_animal.id }}</br>
								<input type="hidden" id="id" value="{{cur_animal.id}}">
							 {% else %}
								<label for="id">Animal ID:</label> {{ log.animal.id }}</br>
								<input type="hidden" id="id" value="{{log.id}}"> <!--log ID -->
							 {% endif %}
							<!-- /.Animal ID -->
							</div>
							
							<!-- log date -->
							<div class="form-group">
								<label for="log_date">Log Date</label>
								<div class='input-group date' id='datetimepicker'>
									<input type='text' class="form-control" id="log_date" name="log_date" value="{{log.log_date}}"/>
										<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
										</span>	
								</div>


								<p class="help-block">Enter Date of Log YYYY-MM-DD HH:MM:SS</p>
							<!-- /.log date -->
							</div>

							<!-- log type -->
							<div class="form-group">
								<label for="log_type">Log Type</label>
								<select name="log_type" id="log_type" class="form-control" value="{{log.log_type}}"required>
									{% for key, value  in log_type %}
									{% if key == log.log_type %}									
									<option value="{{key}}" selected> {{ value }} </option>
									{% else %}
									<option value="{{key}}"> {{ value }} </option>
									{% endif %}
									{% endfor %}
								</select>
							<!-- /.log type --> 	
							</div>
							
						<!-- /.tab1 -->
						<!-- /.Date & Type -->
						</div>
						
						<!-- Resight -->
						<div class="tab-pane" id="tab1">
						
							<!-- Season -->
							<div class="form-group">
								<label for="season">Season:</label>
								<input class="form-control" name="season" id="season" value="{{log.season}}">
								<p class="help-block">Enter Season Year: 'YYYY'</p>
							<!-- /.Season -->
							</div>

							<!-- Sample Taken -->
							<div class="form-group">
								<label class="checkbox-is">Sample Taken</label></br>
								{% if log.sample_taken == True %}
								<input name="sample" id="sample" value="1" type="checkbox" checked>
								{% else %}
								<input name="sample" id="sample" value="1" type="checkbox"> Yes
								{% endif %}
								<p class="help-block">Was a sameple taken from the animal</p>
							</div>

							<!-- Comments -->
							<div class="form-group">
								<label for="comments">Comments</label>
								<textarea name="comments" id="comments" class="form-control" rows="3">{{log.comments}}</textarea>
								<p class="help-block">Comments about the Log</p>
							<!-- /.Comments -->
							</div>
						
						<!-- /.tab2 -->
						<!-- /.Resight -->
						</div>
						
						<!-- Resight Attributes -->
						<div class="tab-pane" id="tab2">
						
							<div class="panel panel-default">
								<!-- set up table that will display attributes -->
								<div class="panel-body">
									
								  <ul id="log-attributes" class="attributes-list">
								    {% for l in min_log_att_fields %}
								    <li>
									<div class="form-group">
									    <label class="col-sm-5 control-label log-attribute-field-select attribute-field-select">{{ l.name }}</label>
									    <div class="col-sm-5">
										{% if l.type == 'L' %}
										<select name="log_att_{{ l.pk }}" class="form-control att-value" required>
										    <option value="none" disabled selected>Please select...</option>
										    {% for v in l.vals %}
											{% if v.longval == '' %}
											<option value="{{ v.shortval }}">{{ v.shortval }}</option>
											{% else %}
											<option value="{{ v.shortval }}">{{ v.longval }} ({{ v.shortval }})</option> }}
											{% endif %}
										    {% endfor %}
										</select>
										{% elif l.type == 'D' %}
										    <div class="input-group date datetimepicker">
											<input type="text" class="form-control att-value" required/>
											<span class="input-group-addon">
											    <span class="glyphicon glyphicon-calendar"></span>
											</span>
										    </div>
										{% else %}
										<input type="text" class="form-control att-value" required>
										{% endif %}
									    </div>
									    <div class="col-sm-2"></div>
									</div>
								    </li>
								    {% endfor %}
								  </ul>
								<button type="button" class="btn btn-primary" id="add-log-att-btn"><i class="fa fa-plus"></i> Add Log Attribute</button>		   
								<!-- ./panel-body (attributes table) -->
								</div>
								
							<!-- ./panel panel-default (log Attributes)-->
							</div>
						
						<!-- /.tab3 -->
						<!-- /.Resight Attributes -->
						</div>
						
						<!-- Breeding -->
						<div class="tab-pane" id="tab3">
							
							<!-- Mate Details -->
							<div class="panel panel-default">
								<div class="panel-heading"> <label>Mate Details</label></div>
  								<div class="panel-body">
              		
									<!--Mark_Type_Mate -->
									<div class="form-group">
										<label for="mark_type_mate">Mark Type</label>
									<select name="mark_type_mate" id="mark_type_mate" class="form-control">
										{% for m in mark_types %}
										{% if m == mateMark.mark_type %}
										<option value="{{ m }}"selected>{{ m }}</option>
										{% else %}
										<option value="{{ m }}">{{ m }}</option>
										{% endif %}
										{% endfor %}
									</select>
										<p class="help-block">Select Mark Type of mate</p>
									<!-- /.mark_type_mate -->
									</div>

									<!-- Mark Number -->
									<div class="form-group">
									<label for="mark_id_mate">Mark Identification Number</label>
									<input name="mark_id_mate" id="mark_id_mate" class="form-control" value="{{mateMark.mark_number}}">
									<p class="help-block">Enter the number printed/located on the mate's mark</p>
									<!-- /.Mark number -->
									</div>
              		
   							<!-- /.panel-body -->
  							</div>
							<!--/.panel panel-default -->
							<!-- /.Mate -->
							</div>

							
							<!-- Offspring -->
							<div class="panel panel-default">
								<div class="panel-heading"><label>Offspring Details</label></div>
								<div class="panel-body">

									<!--Mark_Type_off -->
									<div class="form-group">
										<label for="mark_type_off">Mark Type</label>
										<select name="mark_type_off" id="mark_type_off" class="form-control">
											{% for m in mark_types %}
											{% if m == offMark.mark_type %}
											<option value="{{ m }}"selected>{{ m }}</option>
											{% else %}
											<option value="{{ m }}">{{ m }}</option>
											{% endif %}
											{% endfor %}
										</select>
										<p class="help-block">Select Mark Type of offspring</p>
										<!-- /.mark_type_off -->	
									</div>
										
									<!-- Mark Number -->
									<div class="form-group">
										<label for="mark_id_off">Mark Identification Number</label>
										<input name="mark_id_off" id="mark_id_off" class="form-control" value="{{offMark.mark_number}}">
										<p class="help-block">Enter the number printed/located on the offspring's mark</p>
									<!-- /.Mark number -->
									</div>
								<!-- /.panel-body -->
								</div>
							<!--/.panel panel-default -->
							<!-- /.Offspring -->
							</div>
							
							</br>	
				
							<!-- Breeding Season -->
							<div class="form-group">
								<label for="breeding_season">Breeding Season:</label>
								<input class="form-control" name="breeding_season" id="breeding_season" value="{{breeding.season}}">
								<p class="help-block">Enter Breeding Season Year: 'YYYY'</p>
							<!-- /.Breeding Season -->
							</div>
							
							<!-- Breeding Comments -->
							<div class="form-group">
								<label for="breeding_comments">Comments</label>
								<textarea name="breeding_comments" id="breeding_comments" class="form-control" rows="3">{{breeding.comments}}</textarea>
								<p class="help-block">Comments about Breeding attempt</p>
							<!-- /.Comments -->
							</div>
						
					<!-- /.tab4 -->
					<!-- Breeding -->
					</div>
						
						<!-- Breeding Attributes -->
						<div class="tab-pane" id="tab4">
							
								<div class="panel panel-default">
								<!-- set up table that will display attributes -->
								  <div class="panel panel-default">
								  <!-- set up table that will display attributes -->
								  <div class="panel-body">
									  
										<ul id="breeding-attributes" class="attributes-list">
										  {% for b in min_breeding_att_fields %}
										  <li>
										  <div class="form-group">
											  <label class="col-sm-5 control-label breeding-attribute-field-select attribute-field-select">{{ b.name }}</label>
											  <div class="col-sm-5">
											  {% if b.type == 'L' %}
											  <select name="breeding_att_{{ b.pk }}" class="form-control att-value" required>
												  <option value="none" disabled selected>Please select...</option>
												  {% for v in a.vals %}
												  {% if v.longval == '' %}
												  <option value="{{ v.shortval }}">{{ v.shortval }}</option>
												  {% else %}
												  <option value="{{ v.shortval }}">{{ v.longval }} ({{ v.shortval }})</option> }}
												  {% endif %}
												  {% endfor %}
											  </select>
											  {% elif b.type == 'D' %}
												  <div class="input-group date datetimepicker">
												  <input type="text" class="form-control att-value" required/>
												  <span class="input-group-addon">
													  <span class="glyphicon glyphicon-calendar"></span>
												  </span>
												  </div>
											  {% else %}
											  <input type="text"  class="form-control att-value" required>
											  {% endif %}
											  </div>
											  <div class="col-sm-2"></div>
										  </div>
										  </li>
										  {% endfor %}
										</ul>
									  <button type="button" class="btn btn-primary" id="add-breeding-att-btn"><i class="fa fa-plus"></i> Add Breeding Attribute</button>		   
									  <!-- ./panel-body (attributes table) -->
									  </div>
								  </div>
							  <!-- ./panel panel-default (Breeding Attributes)-->
							  
							  </div>
						
						<!-- /.tab5 -->
						<!-- /.Breeding Attributes -->
						</div>
						
						<!-- File -->
						<div class="tab-pane" id="tab5">
						
						<form role="form" method="POST"	action="/portal/log/file/" id="fileUpload">
						
							<!-- File upload -->
							<div class="form-group">
								<label for="file">Select File</label>
								<input name="file" id="file" type="file">
								<p class="help-block">Select File to Attach</p>
							<!-- /.File upload -->
							</div>
						</form>						

							<!-- Comments -->
							<div class="form-group">
								<label for="description">Comments</label>
								<textarea name="description" id="file_description" class="form-control" rows="3">{{file.description}}</textarea>
								<p class="help-block">description of the File</p>
							<!-- /.Comments -->
							</div>
						
						<!-- /.tab6 -->
						<!-- /.File -->
						</div>

					</div>	
						</br>
						
						<div>
						
							<a class="btn btn-primary" id="btnNext">Next</a>
							<a class="btn btn-primary" id="btnPrevious">Previous</a>
						
						</div>
						
						<div>
							{% if addlog == True %}
							<button id="log_submitbtn" class="btn btn-primary">Add New Log</button>
							{% else %}
							<button id="log_submitbtn" class="btn btn-primary">Update</button>
							{% endif %}
							<!-- /end sumbit buttons-->
						</div>
						
					<!-- /.tab-content -->	
					</div>
									
				<!-- /.form -->	
				<!--</form>-->
			<!-- ./col-lg-12-->
			</div>
			
		<!--./row-->
		</div>
		
    <!-- ./panel-body -->
    </div>

{% endblock body_block %}

{% block script_block %}

	<script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>
	<script src="{% static 'js/plugins/dataTables/dataTables.bootstrap.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	
	<script>
	
  /******** Datetime Picker Code ******/
	
  if($('#log_date').val() == "")
  {

     $(function () {
	      
	      
	      $('#datetimepicker').datetimepicker({

				      

					

				      defaultDate: new Date(2000, 0, 0, 24, 0, 0),       // new Date(year, month, day, hours, minutes, seconds, milliseconds); 

				      pickDate: true,                 //en/disables the date picker

				      pickTime: true,

				      format: "YYYY-MM-DD HH:mm:ss",

				      useMinutes: true,               //en/disables the minutes picker

				      useSeconds: true

				      

				      

				      });		

      });

  }
  else
  {
$(function () {
	
	
	    $('#datetimepicker').datetimepicker({

				    

				      

				    //defaultDate: new Date(2000, 0, 0, 24, 0, 0),       // new Date(year, month, day, hours, minutes, seconds, milliseconds); 

				    pickDate: true,                 //en/disables the date picker

				    pickTime: true,

				    format: "YYYY-MM-DD HH:mm:ss",

				    useMinutes: true,               //en/disables the minutes picker

				    useSeconds: true

				    

				    

				    });		

    });
  }	
/************************************Clear Modal on close ********************/	
	
	
	
	/**
	*Clears the modal data on close
	**/
	$('body').on('hidden.bs.modal', '.modal', function () {
		$(this).removeData('bs.modal');
	});
	
	
	
	
	

	
	/******************call log type when log type changes ****************/
	
	$('#log_type').on('change', function() {
		log_type();
	});
	
	/**
	* hide_button() shows and hides the next button ************************************
	**/
	function hide_button()
	{

  	$('#log_submitbtn').hide();

		if($( "#li0" ).hasClass( "active" ))
		{
			$('#btnPrevious').hide();
			$('#btnNext').show();
		}
		else
		{
			$('#btnPrevious').show();
			$('#btnNext').show();
		}
	
	};
	
	$('#btnNext').click(function(){
		
		if (step_validate())
		{
		    $('#error').hide();
		    if($('#log_type').val() == "F")
		    {
			    $('#myTab li:eq(5) a').attr("data-toggle","tab").tab('show');
			    $('#myTab li:eq(0) a').removeAttr("data-toggle");
		    }
		    else
		    {
			    if($('#log_type').val() == "R" && $( "#li2" ).hasClass( "active" ))
			    {
				    $('#myTab li:eq(5) a').attr("data-toggle","tab").tab('show');
				    $('#myTab li:eq(2) a').removeAttr("data-toggle");
			    }
			    else
			    {
				    $('#myTab > .active').next('li').find('a').attr("data-toggle","tab").trigger('click');
				    $('#myTab > .active').prev('li').find('a').removeAttr("data-toggle");
			    }

		    }

		    hide_button();
		    log_type();
		  }  
	});
	
	$('#btnPrevious').click(function(){
		if (step_validate())
		{
		    $('#error').hide();
		    if($('#log_type').val() == "F")
		    {
				    $('#myTab li:eq(0) a').attr("data-toggle","tab").tab('show');
				    $('#myTab li:eq(5) a').removeAttr("data-toggle");

		    }
		    else
		    {

				    if($('#log_type').val() == "R" && $( "#li5" ).hasClass( "active" ))
				    {

					    $('#myTab li:eq(2) a').attr("data-toggle","tab").tab('show');
					    $('#myTab li:eq(5) a').removeAttr("data-toggle");
				    }
				    else
				    {
					    $('#myTab > .active').prev('li').find('a').attr("data-toggle","tab").trigger('click');
					    $('#myTab > .active').next('li').find('a').removeAttr("data-toggle");
				    }		
			    }
		    
		    hide_button();
		    
		 }
	});

	function step_validate(){
	
	  var tabIndex = $('#myTab').find('.active').attr('id');
	  
	  //$('#test').html(tabIndex);
	  
	  switch(tabIndex){
	  // Date & Type
	  case 'li0':
	  
		    //Date
		    if(!$('#log_date').val())
		    {
			$('#error').html("Log Date is Required");
			$('#error').show();
		    }
		    else
		    {
		      var datestring = $('#log_date').val().split(' ');
		      var date = new Date(datestring[0]);
		      var now = new Date();
		      
		      if(now < date)
		      {
			
			$('#error').html("Date Must not be in the future");
			$('#error').show();
			return false;
		      }
		    }
		    return true;
	  
		     break;
	  //Resight	     
	  case 'li1':
		    
		    //season
		    if($('#season').val() !="")
		    {
		      var lseason =$('#season').val();
		      var lleng = lseason.length;
		        
		      if((lleng !=4) || (!$.isNumeric(lseason)))
		      {
			$('#error').html("Season Must must be YYYY");
			$('#error').show();
			return false;
		      }
		    }
		    
		    return true;
		    
		    break;
	  //Resight Attributes	    
	  case 'li2':
		    
		    var required = null
		    
		    $('#log-attributes').find('input').each(function(){
		      if($(this).attr('required'))
		      {
			if(($(this).val() == "") || ($(this).find('option:selected').val() == "none"))
			{
			//(this). highlight somehow .attr('style', "border-radius: 5px; border:#FF0000 1px solid;");	
			required = false;
			}
		      }

		    });

		    $('#log-attributes').find('input, select').each(function(){
		      if($(this).attr('required'))
		      {
			if(($(this).val() == "") || ($(this).find('option:selected').val() == "none"))
			{
			//(this). highlight somehow .attr('style', "border-radius: 5px; border:#FF0000 1px solid;");
			required = false;
			}
		      }

		    });
		    
		    if( required == false )
		    {
		      $('#error').html("Required field(s) is empty")
		      $('#error').show()
		      return false; 
		    }
		    else
		    {
		      return true;
		    }
		    
		    break;
	 //Breeding	    
          case 'li3':
		    
		    //breeding season
		    if($('#breeding_season').val() !="")
		    {
		      var bseason =$('#breeding_season').val();
		      var bleng = bseason.length;
		    
		      if((bleng !=4) || (!$.isNumeric(bseason)))
		      {
			$('#error').html("Season Must must be YYYY");
			$('#error').show();
			return false;
		      }
		     }
		    
		    return true;
		    
		    break;
	 //Breeding attribes	    
	  case 'li4':
		    
		    		    var required = null
		    
		    $('#breeding-attributes').find('input').each(function(){
		      if($(this).attr('required'))
		      {
			if(($(this).val() == "") || ($(this).find('option:selected').val() == "none"))
			{
			//(this). highlight somehow .attr('style', "border-radius: 5px; border:#FF0000 1px solid;");	
			required = false;
			}
		      }

		    });

		    $('#breeding-attributes').find('input, select').each(function(){
		      if($(this).attr('required'))
		      {
			if(($(this).val() == "") || ($(this).find('option:selected').val() == "none"))
			{
			//(this). highlight somehow .attr('style', "border-radius: 5px; border:#FF0000 1px solid;");
			required = false;
			}
		      }

		    });
		    
		    if( required == false )
		    {
		      $('#error').html("Required field(s) is empty")
		      $('#error').show()
		      return false; 
		    }
		    else
		    {
		      return true;
		    }
		    
		    
		    
		    break;
	 //file	    
	  case 'li5':
		    
		 
		/* if($('#file_description').val() !== "" && $('#file').val() == "")
		 {
		
		      $('#error').html("You can not have a description without a file");
		      $('#error').show();
		      
		      return false;  		
		}
		else
		{
		  return true;
		
		}*/
		
		return true;
		//needs edit validation as it will be different
	  
		    break;
	  }
  
	  //return true;

	}
	
	/**
	* log_type()
	* changes which tabs to display and sets navigation
	* of next and previous buttons. Also display the submit button
	* on correct tab based on log type.
	**/
	function log_type(){
		
		var log = $('#log_type').val();
		
		
		switch(log){
		case 'R':
			
				/*
				* Active tabs 0 1 2
				* submit button on tab 2
				*/
				$( "#li1" ).show();
				$( "#li2" ).show();

				$( "#li3" ).hide();
				$( "#li4" ).hide();
				
			break;
		case 'B':
			
				/*
				* Active tabs 0 1 2 3 4
				* submit button on tab 4
				*
				*/
				$( "#li1" ).show();
				$( "#li2" ).show();
				$( "#li3" ).show();
				$( "#li4" ).show();
			
			break;
		case 'F':
		
				/*
				* Active tabs 0 5
				* submit button on tab 5
				*
				*/
				
				$( "#li5" ).show();
				$( "#li1" ).hide();
				$( "#li2" ).hide();
				$( "#li3" ).hide();
				$( "#li4" ).hide();

			break;
		}

		if($( "#li5" ).hasClass( "active" ))
        {
          $('#btnNext').hide();
          $('#log_submitbtn').show();

        }
        else
        {
          $('#btnNext').show();
          $('#log_submitbtn').hide();

        }

	
}
	
var log_prepare_object = function() {
	var log = {};
        log['log'] = {};
        l = log['log'];
	
      
        // Prepare Date & Type tab of the wizard
		l['id'] = $('#id').val();
        l['date'] = $('#log_date').val();
        l['type'] = $('#log_type').val();
        
       
        // Prepare resight tab
	if (l['type'] != 'F')
	{
		l['season'] = $('#season').val();

		if ($('#sample').is(':checked'))
		{
		l['sample'] = $('#sample').val();
		}
		else
		{
		l['sample'] = "0";
		}
		l['comments'] = $('#comments').val();
	}
	
	// prepare the resight attributes tab
	if (l['type'] != 'F')
	{
	
		l['attributes'] = get_attributes('log-attributes');
	}


	// create breeding object if required
	if (l['type'] == 'B') 
	{
		l['breeding'] = {};
		b = l['breeding'];
  	}


	// Prepare breeding tab if required
        if (l['type'] == 'B') 
	{
		b['mate_m_type'] = $('#mark_type_mate').val();
		b['mate_m_id'] = $('#mark_id_mate').val();
		b['off_m_type'] = $('#mark_type_off').val();
		b['off_m_id'] = $('#mark_id_off').val();
		b['season'] = $('#breeding_season').val();
		b['comments'] = $('#breeding_comments').val();
       
        }
	
	// prepare breeding attributes tab if required
	if (l['type'] == 'B')
	{
		
		b['attributes'] = get_attributes('breeding-attributes');
	
	}

	//if there is a file to upload, create a file object 
	// this may(probably will) need to change if editing ************* 
	if ($('#file').val() != "")
	{
	    //create file object
	    l['file'] ={};
	    f = l['file'];
	  
	    // Prepare file tab if required
	    f['description'] = $('#file_description').val();
	 }
		
     
       
        return log;
}


function submitform() {

	if(step_validate())
	{
	  //event.preventDefault();
	  log_object = log_prepare_object();
	  
	  

	      if($('#addlog').val() == "True")
	      {
		  console.log(JSON.stringify(log_object));
					  $.ajax({
				  url: '/portal/api/log/add/',
			  data: JSON.stringify(log_object),
			  type: 'POST',
			  dataType: 'json',
			  success: function(data) {
			  //TODO if file to be uploaded submit file form via post
			    if(data.file)
			    {
			      var action = $('#fileUpload').attr('action')
			      $('#fileUpload').attr('action', action +data.file +"/")
			      $('#fileUpload').submit();
			    }
			    else if(data.redirect)
			    {
			      window.location.href= data.redirect;
			    }
			    else
			    {
				  qb_render_resultset(data);
			    }
			  },
			  });
	      }
	      else
	      {
			      console.log(JSON.stringify(log_object));
					  $.ajax({
				  url: '/portal/api/log/edit/',
			  data: JSON.stringify(log_object),
			  type: 'POST',
			  dataType: 'json',
			  success: function(data) {
			  //TODO if file to be uploaded submit file form via post
			    if(data.redirect)
			    {
			      window.location.href= data.redirect;
			    }
			    else
			    {
				  qb_render_resultset(data);
			    }
			  },
			  });
	      
	      
	      }
	  } 
}
	


function qb_render_resultset(rs) {
	if ('errors' in rs) {
		// There were errors, so display those instead of the resultset
		$('#server_error').html(JSON.stringify(rs));
		$('#server_error').show();
	} else {
		$('#success').html(JSON.stringify(rs));
		$('#success').show();
	}
};

/***************************************************************************************attribes******************************************/	
// Global variable contains list of log attributes
var log_att_used = [
	{% for l in min_log_att_fields %}
		'{{ l.name }}',
	{% endfor %}
	];

var log_att_all = [
	{% for l in all_log_att_fields %}
		'{{ l.name }}',
	{% endfor %}
	];

var log_att_type_all = [
	{% for l in all_log_att_fields %}
	'{{ l.type }}',
	{% endfor %}
	];
	
var breeding_att_used = [
	{% for b in min_breeding_att_fields %}
		'{{ b.name }}',
	{% endfor %}
	];

var breeding_att_all = [
	{% for b in all_breeding_att_fields %}
		'{{ b.name }}',
	{% endfor %}
	];

var breeding_att_type_all = [
	{% for b in all_breeding_att_fields %}
		'{{ b.type }}',
	{% endfor %}
	];
		

	/* Global pointers to the last row of the datatables attributes */
	var log_att_field_previous_value = 'none';
	var breeding_att_field_previous_value = 'none';
	var dtpicker_options = {
			defaultDate: new Date(2000, 0, 0, 24, 0, 0),       // new Date(year, month, day, hours, minutes, seconds, milliseconds);
			pickDate: true,                 //en/disables the date picker
			pickTime: true,
			format: "DD-MM-YYYY HH:mm:ss",
			useMinutes: true,               //en/disables the minutes picker
			useSeconds: true
		};
	var log_att_lookup_values;
	var breeding_att_lookup_values;
	


	/**
	 * check_log_attributes_used disables the add log attribute button if the length of the attributes is maxed
	 */
	var check_log_attributes_used = function() {
		if (log_att_used.length == log_att_all.length) {
			$('#add-log-att-btn').attr('disabled', 'disabled');
		} else {
			$('#add-log-att-btn').removeAttr('disabled');
		}
	};
	
	/**
	 * check_breeding_attributes_used disables the add breeding attribute button if the length of the attributes is maxed
	 */
	var check_breeding_attributes_used = function() {
		if (breeding_att_used.length == breeding_att_all.length) {
			$('#add-breeding-att-btn').attr('disabled', 'disabled');
		} else {
			$('#add-breeding-att-btn').removeAttr('disabled');
		}
	};

  /**
  * get_attributes iterates through a dataTable and grabs the attribute name and value
  *  this function should be generic enough to use in all attribute type tables if they
  *  have been done the same way.
  *
  *  this can also be used by the validate function to quickly grab all the attributes
  *  and use them for validation
  *
  *  So long as the field name (label) is in class attribute-field-select and
  *  the attribute value is in class att-value
  */
  var get_attributes = function(tbl) {
      var att = {};

      $("#" + tbl).find('li').each(function() {
	  var field = $(this).find('.attribute-field-select').html();
	  var fval = $(this).find('.att-value').val();
	  att[field] = fval;
      });

      return att;
  };

    var log_att_field_select = function() {
    var parent = $(this).parents("li");
    // add this field to the used array
    var field_selected = $(this).val();
    log_att_used.push(field_selected);

    // remove the previous value from the field if necessary
    if (log_att_field_previous_value != 'none') {
        log_att_used.remove(log_att_field_previous_value);
    }

    // Change the select to a label
    $(this).remove();
    parent.find("#log-att-value").before('<label class="col-sm-5 control-label log-attribute-field-select attribute-field-select">' + field_selected + '</label>');

    // determine the type of the new attribute selected
    var idx = log_att_all.indexOf($(this).val());
    var atype = log_att_type_all[idx];

    // remove the old select/input control
    parent.find('#log-att-value').remove();

    // add the new select/input control for the attribute's value
    if (atype == 'L') {
        // select list of possible values
        var values = log_att_lookup_values[$(this).val()];
        for (var i=0; i<values.length; i++) {
            var value_field_html = '<select id="log-att-value" class="form-control col-sm-5 att-value">';
            if (values[i].longval == '') {
                value_field_html += '<option value="' + values[i].shortval + '">' + values[i].shortval + '</option>';
            } else {
                value_field_html += '<option value="' + values[i].shortval + '">' + values[i].longval + ' (' + values[i].shortval + ')</option>';
            }
            value_field_html += '</select>';
            parent.find(".log-attribute-field-select").after(value_field_html);
        }
    } else if (atype == 'D') {
        // date input field
        var value_field_html = '<div class="input-group date datetimepicker col-sm-5"><input type="text" class="form-control att-value" name="log-att-value" id="name-att-value"><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div>';
        parent.find('.log-attribute-field-select').after(value_field_html);
        $(".datetimepicker").datetimepicker(dtpicker_options);
    } else {
        // text input field
        var value_field_html = '<div class="col-sm-5"><input type="text" class="form-control col-sm-5 att-value" name="name-att-value" id="log-att-value"></div>';
        parent.find(".log-attribute-field-select").after(value_field_html);
    }
    check_log_attributes_used();
	};  


   var breeding_att_field_select = function() {
    var parent = $(this).parents("li");
    // add this field to the used array
    var field_selected = $(this).val();
    breeding_att_used.push(field_selected);

    // remove the previous value from the field if necessary
    if (breeding_att_field_previous_value != 'none') {
        breeding_att_used.remove(breeding_att_field_previous_value);
    }

    // Change the select to a label
    $(this).remove();
    parent.find("#breeding-att-value").before('<label class="col-sm-5 control-label breeding-attribute-field-select attribute-field-select">' + field_selected + '</label>');

    // determine the type of the new attribute selected
    var idx = breeding_att_all.indexOf($(this).val());
    var atype = breeding_att_type_all[idx];

    // remove the old select/input control
    parent.find('#breeding-att-value').remove();

    // add the new select/input control for the attribute's value
    if (atype == 'L') {
        // select list of possible values
        var values = breeding_att_lookup_values[$(this).val()];
        for (var i=0; i<values.length; i++) {
            var value_field_html = '<select id="breeding-att-value" class="form-control col-sm-5 att-value">';
            if (values[i].longval == '') {
                value_field_html += '<option value="' + values[i].shortval + '">' + values[i].shortval + '</option>';
            } else {
                value_field_html += '<option value="' + values[i].shortval + '">' + values[i].longval + ' (' + values[i].shortval + ')</option>';
            }
            value_field_html += '</select>';
            parent.find(".breeding-attribute-field-select").after(value_field_html);
        }
    } else if (atype == 'D') {
        // date input field
        var value_field_html = '<div class="input-group date datetimepicker col-sm-5"><input type="text" class="form-control att-value" name="breeding-att-value" id="name-att-value"><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div>';
        parent.find('.breeding-attribute-field-select').after(value_field_html);
        $(".datetimepicker").datetimepicker(dtpicker_options);
    } else {
        // text input field
        var value_field_html = '<div class="col-sm-5"><input type="text" class="form-control col-sm-5 att-value" name="name-att-value" id="breeding-att-value"></div>';
        parent.find(".breeding-attribute-field-select").after(value_field_html);
    }
    check_breeding_attributes_used();
	};  
	
	
	/**
	 * log_att_field_select_focus grabs the old value of a select field for the attribute name before it gets
	 *  changed and puts it in a global
	 */
	var log_att_field_select_focus = function() {
		log_att_field_previous_value = $(this).val();
	};

	/**
	 * breeding_att_field_select_focus grabs the old value of a select field for the attribute name before it gets
	 *  changed and puts it in a global
	 */
	var breeding_att_field_select_focus = function() {
		breeding_att_field_previous_value = $(this).val();
	};


	var log_att_remove_row = function(event) {
		event.preventDefault();
		parent = $(this).parents('li');

		// Check that we haven't used the attribute
		if (parent.find('.log-attribute-field-select').val() != 'none') {
			log_att_used.remove(parent.find('.log-attribute-field-select').html())
		}

		parent.remove();
		check_log_attributes_used();
	};
	
	var breeding_att_remove_row = function(event) {
	event.preventDefault();
	parent = $(this).parents('li');

	// Check that we haven't used the attribute
	if (parent.find('.breeding-attribute-field-select').val() != 'none') {
	    breeding_att_used.remove(parent.find('.breeding-attribute-field-select').html())
	}

	parent.remove();
	check_breeding_attributes_used();
	};


	var log_att_add_row = function(event) {
		event.preventDefault();     // don't want this button to submit the form
		if (log_att_used.length == log_att_all.length) {
			return true;    // ensure that clicking the button when there are no new att's to add does nothing
		}

		// Determine the list of attributes available, and display a select list
		var new_row = '<li><div class="form-group"><select class="col-sm-5 form-control log-attribute-field-select"><option value="none" selected disabled>Please select</option>';
		for (var i=0; i< log_att_all.length; i++) {
			if (($.inArray(log_att_all[i], log_att_used)) == -1) {
				new_row += '<option value="' + log_att_all[i] + '">' + log_att_all[i] + '</option>';
			}
		}

		new_row += '</select><div id="log-att-value" class="col-sm-5"></div><div class="col-sm-2"><button class="btn log-attribute-remove"><i class="fa fa-minus"></i></button></div></div></li>';

		// add new table row
		$("#log-attributes li").last().after(new_row);

		// rebind the field name select change event
		$(".log-attribute-field-select").unbind('change');
		$(".log-attribute-field-select").change(log_att_field_select);

		// rebind the field name select focus event
		$(".log-attribute-field-select").unbind('focus');
		$(".log-attribute-field-select").focus(log_att_field_select_focus);

		// rebind the remove attribute button
		$('.log-attribute-remove').unbind('click');
		$('.log-attribute-remove').click(log_att_remove_row);

		// disable the add new attribute button until the above changes
		$("#add-log-att-btn").attr('disabled', 'disabled');
	};

	var breeding_att_add_row = function(event) {
		event.preventDefault();     // don't want this button to submit the form
		if (breeding_att_used.length == breeding_att_all.length) {
			return true;    // ensure that clicking the button when there are no new att's to add does nothing
		}

		// Determine the list of attributes available, and display a select list
		var new_row = '<li><div class="form-group"><select class="col-sm-5 form-control breeding-attribute-field-select"><option value="none" selected disabled>Please select</option>';
		for (var i=0; i< breeding_att_all.length; i++) {
			if (($.inArray(breeding_att_all[i], breeding_att_used)) == -1) {
				new_row += '<option value="' + breeding_att_all[i] + '">' + breeding_att_all[i] + '</option>';
			}
		}

		new_row += '</select><div id="breeding-att-value" class="col-sm-5"></div><div class="col-sm-2"><button class="btn breeding-attribute-remove"><i class="fa fa-minus"></i></button></div></div></li>';

		// add new table row
		$("#breeding-attributes li").last().after(new_row);

		// rebind the field name select change event
		$(".breeding-attribute-field-select").unbind('change');
		$(".breeding-attribute-field-select").change(breeding_att_field_select);

		// rebind the field name select focus event
		$(".breeding-attribute-field-select").unbind('focus');
		$(".breeding-attribute-field-select").focus(breeding_att_field_select_focus);

		// rebind the remove attribute button
		$('.breeding-attribute-remove').unbind('click');
		$('.breeding-attribute-remove').click(breeding_att_remove_row);

		// disable the add new attribute button until the above changes
		$("#add-breeding-att-btn").attr('disabled', 'disabled');
	};

  /**
  * load_log_attribute_lookup_values grabs the attribute lookup values in a json and populates a global
  */
	var load_log_attribute_lookup_values= function() {
      $.ajax({
		  url: '/portal/api/attribute/lookuplist/L/',
		  method: 'get',
		  dataType: 'json',
		  success: function(data) {
			  log_lookup_values = data;
		  },
	  });
  };

  /**
 * load_Breeding_attribute_lookup_values grabs the attribute lookup values in a json and populates a global
 */
	var load_breeding_attribute_lookup_values = function() {
		$.ajax({
			url: '/portal/api/attribute/lookuplist/B/',
			method: 'get',
			dataType: 'json',
			success: function(data) {
				breeding_lookup_values = data;
			},
		});
	};


  
 $( document ).ready(function() {
		
		

		
		hide_button();
		
		log_type();
		
		
		
		var edit = $('#addlog').val();
		var type = $('#edit_type').val();

		if (edit == "False")
		{
		  //Disable editing the log type based on the logs existing type
		  if (type == "F")
		  {
		    $('#log_type option[value="R"]').attr('disabled','disabled');
		    $('#log_type option[value="B"]').attr('disabled','disabled');
		  }
		  else
		  {
		    $('#log_type option[value="F"]').attr('disabled','disabled');
		  }
		  
		  //warning message for changing breeding log to resight
		  if(type =="B")
		  {
		    
		    $('#log_type option[value="R"]').attr('disabled','disabled');
		    $('#log_type option[value="F"]').attr('disabled','disabled');
		    /*$('#log_type').on('change', function() {
		      
		      if($('#log_type').val() == "R")
		      {
			alert("This will DELETE the breeding data attached to this log");
		      
		      }
		      
		     });*/
		  
		  }
		
		}
		
		$('#log_submitbtn').click(function(event){
		  event.preventDefault();
		  submitform();
		  
		});
		

		$('#add-log-att-btn').click(log_att_add_row);
		$('#add-breeding-att-btn').click(breeding_att_add_row);

		// This populates the lookup values for attribute select lists via ajax
		load_log_attribute_lookup_values();
		load_breeding_attribute_lookup_values();

		// Check that the max number of log and lgo attributes have not been reached
		// if they have disabled those 'add' buttons.
		check_log_attributes_used();
		check_breeding_attributes_used();
		
	
	}); 
  /**
 * Extends the Array prototype in Javascript to give it a remove method
 * @param value
 */
Array.prototype.remove = function(value) {
    var idx;
    while ((idx = this.indexOf(value)) != -1) {
        this.splice(idx, 1);
    }
}
</script>
	

{% endblock script_block %}

