{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class="panel-body">
	<div class="alert alert-success alert-dismissable" style="display: none;">
  	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  </div>
  <div class="alert alert-danger alert-dismissable" style="display: none;">
  	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  </div>
</div>

<h2>Log Breeding</h2>
<div class="row">
                <div class="col-lg-6">
                    <h2 class="page-header">Log Breeding</h2>
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
           <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            New Breeding Log
                        </div>
                         <div class="panel-body">

												</div>
                         <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form">
                                        <fieldset disabled> 
											<div class="form-group">
                                            <label>Log ID</label>
                                            <input class="form-control">
                                            <p class="help-block">Displays the ID of the Log</p>
                                        </div>
										<div class="form-group">
                                            <label>Created</label>
											
                                            <input class="form-control">
                                            <p class="help-block">Displays Date the Record was created</p>
                                        </div>
										<div class="form-group">
                                            <label>Created by</label>
                                            <input class="form-control">
                                            <p class="help-block">Displays Date the Record was created</p>
                                        </div>
										<div class="form-group">
                                            <label>Modified By</label>
                                            <input class="form-control">
                                            <p class="help-block">Displays date the record was last modified</p>
                                        </div>
										<div class="form-group">
                                            <label>Modified by</label>
                                            <input class="form-control">
                                            <p class="help-block">Displays who last modified the record</p>
                                        </div>
										</fieldset>
										<div class="form-group">
                                            <label>Mate</label>
                                            <input class="form-control">
                                            <p class="help-block">Animal ID of Mate (if Known)</p>
                                        </div>
										<div class="form-group">
                                            <label>Season</label>
                                            <input class="form-control">
                                            <p class="help-block">Season breeding attempt has been made</p>
                                        </div>
										 <div class="form-group">
                                            <label>Comments</label>
                                            <textarea class="form-control" rows="3"></textarea>
											<p class="help-block">Comments</p>
                                        </div>
										<div class="form-group">
											<input type="submit">
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		{% csrf_token %}

		<div class="panel panel-default">
    	<div class="panel-heading">
      	<h4>Breeding Attributes</h4>
      </div>
      <div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped table-hover" id="breeding-attributes">
						<thead style="display: none;">
							<th>Field Name</th>
							<th>Value</th>
							<th>Controls</th>
						</thead>
						<tbody>
							{% for a in min_breeding_att_fields %}
								<tr>
									<td width="40%">{{ a.name }}</td>
								{% if a.type == 'L' %}
									<td width="40%">
										<select name="breeding_att_{{ a.pk }}">
											<option></option>
										{% for v in a.vals %}
											<option value="{{ v.pk }}">{{ v.shortval }}</option>
										{% endfor %}
									</select>
									</td>
								{% elif a.type == 'D' %}
									<td width="40%"><input class="form-control" name="breeding_att_{{ a.pk }}"></td>
								{% else %}
									<td width="40%"><input class="form-control" name="breeding_att_{{ a.pk }}"></td>
								{% endif %}
								{% if a = min_breeding_att_fields|last %}
									<td>
									</td>
								{% else %}
									<td></td>
								{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="panel-body">
					<a href="#!" class="btn btn-primary" id="addbreedingatticon"><i class="fa fa-plus"></i> Add breeding Attribute</a>
				</div>	
			</div>
		</div>
	</div>
</div>

{% endblock body_block %}
{% block script_block %}
<script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/plugins/dataTables/dataTables.bootstrap.js' %}"></script>

<script>
// Global variable contains list of log attributes
var log_att_used = [
	{% for a in min_log_att_fields %}
		'{{ a.name }}',
	{% endfor %}
	];

var log_att_all = [
	{% for a in all_log_att_fields %}
		'{{ a.name }}',
	{% endfor %}
	];

var log_att_type_all = [
	{% for a in all_log_att_fields %}
	'{{ a.type }}',
	{% endfor %}
	];

var breeding_att_used = [
	{% for m in min_breeding_att_fields %}
		'{{ m.name }}',
	{% endfor %}
	];

var breeding_att_all = [
	{% for m in all_breeding_att_fields %}
		'{{ m.name }}',
	{% endfor %}
	];

var breeding_att_type_all = [
	{% for m in all_breeding_att_fields %}
	'{{ m.type }}',
	{% endfor %}
	];

var breedinglastrow;
var loglastrow;
function changebreedingattfield(ele) {
	// determine field type
	var val = ele.value;
	breeding_att_used.push(breeding_att_all[val]);
	var numofrows = breedinglastrow.column(0).data().length;
	if (breeding_att_type_all[val] == 'L') {
		// change the next cell to be a dropdown
	} else if (breeding_att_type_all[val] == 'F') {
		breedinglastrow.cell(numofrows,1).data('<input type="text" name="' + breeding_att_all[val] + '" class="form-control">');
	} else if (breeding_att_type_all[val] == 'T') {
		breedinglastrow.cell(numofrows, 1).data('<input type="text" name="' + breeding_att_all[val] + '" class="form-control">');
	} else if (breeding_att_type_all[val] == 'I') {
		breedinglastrow.cell(numofrows, 1).data('<input type="text" name="' + breeding_att_all[val] + '" class="form-control">');
	}
	// turn dropdown box for field type into a label
	breedinglastrow.cell(numofrows, 0).data('<label>' + breeding_att_all[val] + '</label>');
	breedinglastrow.draw();		
}

function changelogattfield(ele) {
	// determine field type
	var val = ele.value;
	log_att_used.push(log_att_all[val]);
	console.log(log_att_used);
	var numofrows = loglastrow.column(0).data().length;
	if (log_att_type_all[val] == 'L') {
		// change the next cell to be a dropdown
	} else if (log_att_type_all[val] == 'F') {
		loglastrow.cell(numofrows,1).data('<input type="text" name="' + log_att_all[val] + '" class="form-control">');
	} else if (log_att_type_all[val] == 'T') {
		loglastrow.cell(numofrows, 1).data('<input type="text" name="' + log_att_all[val] + '" class="form-control">');
	} else if (log_att_type_all[val] == 'I') {
		loglastrow.cell(numofrows, 1).data('<input type="text" name="' + log_att_all[val] + '" class="form-control">');
	}
	// turn dropdown box for field type into a label
	loglastrow.cell(numofrows, 0).data('<label>' + log_att_all[val] + '</label>');
	loglastrow.draw();		
}

$(document).ready(function() {
	$('#log-attributes').dataTable({
		paging: false,
		ordering: false,
		searching: false
	});
	$('#breeding-attributes').dataTable({
		paging: false,
		ordering: false,
		searching: false
	});

	$('#submitbtn').click(function() {
		$('#addadnimalform').submit();
	});
	
	$('#addlogatticon').click(function() {
		if (log_att_used.length == log_att_all.length) { return true; }
		// add new table row
		var t = $('#log-attributes').DataTable();
		var opts = "";
		for (var i=0; i < log_att_all.length; i++) {
			if (($.inArray(log_att_all[i], log_att_used)) == -1) {
				opts = opts + '<option value="' + i + '">' + log_att_all[i] + '</option>\n';
			}
		}
		loglastrow = t.row.add( [ '<select class="form-control" onchange="changelogattfield(this)" id="newlogattfield"><option></option>' + opts + '</select>', '<input name="attribute" class="form-control">','']);
		loglastrow.draw();
	});

	$('#addbreedingatticon').click(function() {
		if (breeding_att_used.length == breeding_att_all.length) { return true; }
		// add new table row
		var t = $('#breeding-attributes').DataTable();
		var opts = "";
		console.log(breeding_att_used);
		for (var i=0; i < breeding_att_all.length; i++) {
			if (($.inArray(breeding_att_all[i], breeding_att_used)) == -1) {
				opts = opts + '<option value="' + i + '">' + breeding_att_all[i] + '</option>\n';
			}
		}
		breedinglastrow = t.row.add( [ '<select class="form-control" onchange="changebreedingattfield(this)" id="newbreedingattfield"><option></option>' + opts + '</select>', '<input name="attribute" class="form-control">','']);
		breedinglastrow.draw();
	});

});
</script>

{% endblock script_block %}

