            <div class="row">
                <div class="col-lg-6">
                    <h2 class="page-header">Attach File</h2>
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
           <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        Attach File
                        </div>
                         <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
									<div class="form-group">
                                        <label>Attach File</label>
                                            <input type="file">
                                        </div>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>