{% load static %}
{% block body_block %}
<div class="panel-body">
	<div class="alert alert-success alert-dismissable" style="display: none;">
  	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#" class="alert-link">Alert Link</a>.
  </div>
  <div class="alert alert-danger alert-dismissable" style="display: none;">
  	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#" class="alert-link">Alert Link</a>.
  </div>
</div>
<div class="row">
	<div class="col-lg-12">
		{% csrf_token %}

		<div class="panel panel-default">
    	<div class="panel-heading">
      	<h4>Log Attributes</h4>
      </div>
      <div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped table-hover" id="log-attributes">
						<thead style="display: none;">
							<th>Field Name</th>
							<th>Value</th>
							<th>Controls</th>
						</thead>
						<tbody>
							{% for a in min_log_att_fields %}
								<tr>
									<td width="40%">{{ a.name }}</td>
								{% if a.type == 'L' %}
									<td width="40%">
										<select name="log_att_{{ a.pk }}">
											<option></option>
										{% for v in a.vals %}
											<option value="{{ v.pk }}">{{ v.shortval }}</option>
										{% endfor %}
									</select>
									</td>
								{% elif a.type == 'D' %}
									<td width="40%"><input class="form-control" name="log_att_{{ a.pk }}"></td>
								{% else %}
									<td width="40%"><input class="form-control" name="log_att_{{ a.pk }}"></td>
								{% endif %}
								{% if a = min_log_att_fields|last %}
									<td>
									</td>
								{% else %}
									<td></td>
								{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="panel-body">
					<a href="#!" class="btn btn-primary" id="addlogatticon"><i class="fa fa-plus"></i> Add Log Attribute</a>
				</div>	
			</div>
		</div>
	</div>
</div>
{% endblock body_block %}
