{% load static %}

<div class="panel-group" id="log-list-accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#log-list-accordion" href="#log-list-panel"><h3>Log List</h3></a>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" id="log-list-panel">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="log-list">
                                    <thead>
                                        <tr>
                                            <th>Log Date</th>
                                            <th>Log Type</th>
                                            <th>Season</th>
											<th>Comments</th>
											<th>Sample Taken</th>
											<th class="noprint">Controls</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for data in animal_logs %}
										<tr class="even gradeC">
                                            <td><a href="/portal/log/edit/{{ data.id }}" data-toggle="modal" data-target="#log-detail-div">{{data.log_date}}</a></td>
                                            <td>{{data.log_type}}</td>
											<td>{{data.season}}</td>
											<td>{{data.comments}}</td>
											<td>{{data.sample_taken}}</td>
											<td class="noprint"><a href="/portal/log/edit/{{ data.id }}" data-toggle="modal" data-target="#log-detail-div"><i class="fa fa-pencil"></i></a> &nbsp; &nbsp;</td>
                                        </tr>
																			 {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
 <div class="well">
  <a class="btn btn-primary noprint" data-toggle="modal" data-target="#log-detail-div" href="/portal/log/add/{{ cur_animal.id }}"> Add Log </a> 								
	 </div>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

<!-- /. panel-group -->
<div id="log-detail-div" class="modal fade" >
  <div class="modal-dialog modal-sml" id="log_modal">
    <div class="modal-content">
    </div>
  </div>
</div>

