{% block body_block %}
          <div class="panel-body">
                        <div class="row">
                <div class="col-lg-6">
                    <h2 class="page-header">Search</h2>
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
           <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Search
                        </div>
                         <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form">
                                        <div class="form-group">
                                            <label>Mark ID</label>
                                            <input class="form-control">
                                            <p class="help-block">Enter the Mark ID</p>
                                        </div>
                                            <label class="control-label"> Select Mark Type</label>
                                            <div class="">
                      <select class="form-control">
                                                 <option>...</option>
                        <option>Metal Band</option>
                                                <option>Plastic band</option>
                                                <option>brand</option>
                                                <option>stud</option>
                        <option>tatoo</option>
                                                <option>implant</option>
                        <option>paint</option>
                                            </select>
                      <p class="help-block">Select Mark Type</p>
                                        </div>
                    <div class="form-group">
                      <input type="submit">
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
                        </div>
{% endblock body_block %}
