<!-- This is the HTML that builds the mark attributes part of the add/edit mark form
The mark attributes are optional values or those that are specific to one dataset -->

<div class="panel panel-default">
  <!-- Division for the heading -->
	<div class="panel-heading">
    <h4>Mark Attributes</h4>
  </div>
  
	<!-- Table that holds the attribute inputs -->
	<div class="panel-body">
		<div class="table-responsive">
			
			<!-- header row - note not displayed -->
			<table class="table table-striped table-hover" id="mark-attributes">
				<thead style="display: none;">
					<th></th>
					<th></th>
					<th></th>
				</thead>
				
				<!-- Body of Attributes table -->
				<tbody>
				<!-- loop through attribute fields found in javascript and add them to form -->
				{% for a in min_mark_att_fields %}
					<tr>
						<!-- list name of attribute (e.g. Location ) -->
						<td width="40%">{{ a.name }}</td>
						{% if a.type == 'L' %} <!-- if attribute is a lookup field, build a select object-->
							<td width="40%">
								<select name="mark_att_{{ a.pk }}">
									<option></option> <!-- let first option be blank -->
									<!-- loop though options and add to select list -->
									{% for v in a.vals %}
										<option value="{{ v.pk }}">{{ v.shortval }}</option>
									{% endfor %}
								</select>
							</td>
						
						{% elif a.type == 'D' %} <!-- if attribute is a date field, build a date input -->
							<!-- list name of attribute -->
							<td width="40%">
								<input class="form-control" name="mark_att_{{ a.pk }}">
							</td>
							<!-- note no date input stuff!!!!!! -->
						{% else %} <!-- if field is not a date or a lookup (so is an integer, float or text), build a normal input-->
							<td width="40%">
								<input class="form-control" name="mark_att_{{ a.pk }}">
							</td>
						{% endif %}
								
						<!-- add a blank column at end -->
						{% if a = min_mark_att_fields|last %}
							<td></td>
						{% else %}
							<td></td>
							
					{% endif %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		
		<!-- division that holds the Add Mark Attribute button -->
		<div class="panel-body">
			<a href="#!" class="btn btn-primary" id="addmarkatticon">
				<i class="fa fa-plus"></i> Add Mark Attribute
			</a>
		</div>	
		
	</div>
</div>