<!-- This is the HTML to build the Mark Detail part of the Mark input/edit form 
Mark detail includes such things as the type, number, comments, date applied, etc-->

<div class="panel panel-default">
  <div class="panel panel-default">
   
	 <!-- Division for the Mark Info Heading -->
		<div class="panel-heading">
      <h4>Mark Information</h4>
    </div>
    
		<!-- Division for the body of the Mark Detail form -->
		<div class="panel-body">
			<!-- Mark Type selector -->
			<div class="form-group">
				<label>Mark Type</label>
        <select name="mark_type" class="form-control">
					<option selected value="Metal">Metal</option>
          <option value="Plastic - Green">Plastic - Green</option>
          <option value="Plastic - White">Plastic - White</option>
          <option value="Tatoo">Tattoo</option>
          <option value="Brand">Brand</option>
        </select>
      </div>
			
			<!-- Mark Number Input -->
			<div class="form-group">
        <label>Mark Number</label>
        <input class="form-control" name="mark_number">
				<p class="help-block">Mark Number</p>
      </div>
			
			<!-- Date Applied Input -->
			<div class="form-group">
        <label>Date Applied</label>
        <input type="date" class="form-control" name="mark_date_attached">
        <p class="help-block">When the Mark was applied to the animal (IN FORMAT: YYYY-MM-DD)</p>
      </div>
			
			<!-- Is Present input -->
			<div class="form-group">
        <label class="checkbox-is">Is Present &nbsp;
					<input name="mark_is_present" value="1" type="checkbox" checked> &nbsp; Yes
        </label>
			</div>
			
			<!-- Comments input -->
			<div class="form-group">
        <label>Comments</label>
        <textarea name="mark_comments" class="form-control" rows="3"></textarea>
				<p class="help-block">Comments about the Mark</p>
      </div>
		</div>
	</div>
</div>