{% load static %}


{% block body_block %}
                            
	<div class="panel-body">
	
		<div class="panel-heading">
			{% if addmark == True %}
			<h2>Add A New Mark</h2>
			{% else %}
			<h2>Edit Mark: {{cur_mark.mark_number}}</h2>
			{% endif %}
		</div>
		<div class="alert alert-success alert-dismissable" id="success" style="display:none;">
		    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		    
			    <a href="#" class="alert-link">Alert Link</a>.
		</div>
		<div class="alert alert-danger alert" id="error" style="display:none;">
		    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		    
			    <a href="#" class="alert-link">Alert Link</a>.
		</div>
		<div class="row">
			<div class="col-lg-12">
				<input type="hidden" id="addMark" value="{{addmark}}" disabled>
				{% if addmark == True %}
				<form role="form" method="POST" action="/portal/mark/add/{{cur_animal.id}}/" id="addmarkform">
				{% else %}
				<form role="form" method="POST" action="/portal/mark/edit/{{mark.id}}/" id="editmarkform">
				{% endif %}
				
				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-danger">
							<p> {{message }}</p>
						</div>
					{% endfor %}
				{% endif %}

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>Mark Information</h4>
						</div>
		  
						<div class="panel-body">
							<div class="form-group">
							{% if addmark == True %}
							<input type="hidden" class="form-control" id="id" value="{{cur_animal.id}}">
							{% else %}
							<input type="hidden" class="form-control" id="id" value="{{mark.id}}">
							{% endif %}
							</div>
						
							<div class="form-group">
							  <label class="control-label" for="mark_type">Mark Type</label>
							  <select id="mark_type" class="form-control">
							  <option value="none" disabled selected>Please select...</option>
							    {% for m in mark_types %}
							    {% if m == mark.mark_type %}
							    <option value="{{ m }}" selected>{{ m }}</option>
							    {% else %}
							    <option value="{{ m }}">{{ m }}</option>
							    {% endif %}
							    {% endfor %}
							    </select>
							 <p class="help-block">Select Mark Type</p>
							</div>				
							

						
							<div class="form-group">
								<label class="control-label" for="mark_number">Mark Number</label>
								<input class="form-control" id="mark_number" value="{{mark.mark_number}}">
								<p class="help-block">Mark Number</p>
							</div>
						
							<div class="form-group">
								<label class="control-label" for="mark_date_attached">Date Applied</label>
	
								<div class='input-group date' id='datetimepicker'>
										<input type='text' class="form-control" id="mark_date_attached" value="{{mark.date_attached}}"/>
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
								</div>
								<p class="help-block">When the Mark was attached to the animal (IN FORMAT: YYYY-MM-DD)</p>
							</div>
							
							<div class="form-group">
								<label class="checkbox-is">Is Present</label>
								{% if mark.is_present == True %}
								<input id="mark_is_present" value="1" type="checkbox" checked> Yes
								{% else %}
								<input id="mark_is_present" value="1" type="checkbox"> Yes
								{% endif %}
							</div>
							
							<div class="form-group">
								<label class="control-label" for="mark_comments">Comments</label>
								<textarea id="mark_comments" class="form-control" rows="3">{{mark.comments}}</textarea>
								<p class="help-block">Comments about the Mark</p>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<!-- Heading Panel -->
						<div class="panel-heading">
							<h4>Mark Attributes</h4>
						</div>
						
						<!-- Body of Mark Attributes form -->
						<div class="panel-body">
						  <ul id="mark-attributes" class="attributes-list">
						  {% if addmark == True %}
						  {% for a in min_mark_att_fields %}
									<li>
										<div class="form-group">
											<label class="control-label attribute-field-select">{{ a.name }}</label>
											<div>
												{% if a.type == 'L' %}
												<select name="mark_att_{{ a.pk }}" class="form-control att-value" required>
													<option value="none" disabled selected>Please select...</option>
													{% for v in a.vals %}
														{% if v.longval == '' %}
														<option value="{{ v.shortval }}">{{ v.shortval }}</option>
														{% else %}
														<option value="{{ v.shortval }}">{{ v.longval }} ({{ v.shortval }})</option> }}
														{% endif %}
													{% endfor %}
												</select>
											
												{% elif a.type == 'D' %}
													<div class="input-group date datetimepicker col-sm-5">
														<input type="text" class="form-control att-value" name="mark-att-value" id="mark-att-value" required>
														<span class="input-group-addon">
															<span class="glyphicon glyphicon-calendar"></span>
														</span>
													</div>
												{% else %}
												<input type="text" class="form-control col-sm-5 att-value" name="mark-att-value" id="mark-att-value" required>
												{% endif %}
											</div>
											<div class="col-sm-2"></div>
									</div>
									</li>
									{% endfor %}
						  {% else %}
						  
						  {% for a in min_mark_att_fields %}
							<li>
								<div class="form-group">
									<label class="control-label mark-attribute-field-select attribute-field-select">{{ a.name }}</label>
									<div>
										{% if a.type == 'L' %}
										<select name="mark_att_{{ a.pk }}" class="form-control att-value" required>
											<option value="none" {% if found == True %} selected {%endif%}>Please select...</option>
											{% for v in a.vals %}
												{% if v.longval == '' %}
												<option value="{{ v.shortval }}" {% if v.selected == 1 %} selected {%endif%}>{{ v.shortval }}</option>
												{% else %}
												<option value="{{ v.shortval }}" {% if v.selected == 1 %} selected {%endif%} >{{ v.longval }} ({{ v.shortval }})</option> }}
												{% endif %}
											{% endfor %}
										</select>
										{% elif a.type == 'D' %}
											<div class="input-group date datetimepicker">
												<input type="text" class="form-control att-value" required />
												<span class="input-group-addon">
													<span class="glyphicon glyphicon-calendar"></span>
												</span>
											</div>
										{% else %}
										<input type="text" class="form-control att-value" value="{{a.nolist_value}}" required>
										{% endif %}
									</div>
									<div class="col-sm-2"  style="">
									{% if a.is_mandatory == False %}
						    			<button class="btn mark-attribute-remove">
						    			<i class="fa fa-minus"></i>
						    			</button>

						    		{% endif %}
									</div>
							</div>
							</li>
							{% endfor %}
							{% endif %}
						  </ul>
						  </br>
						  </br>
						 <div>
						<button type="button" class="btn btn-primary" id="add-mark-att-btn"><i class="fa fa-plus"></i> Add Mark Attribute</button>
						</div>
						</div>
					</div>
					
					<!--<div class="panel panel-default"> -->
						<!-- <div class="panel-body"> -->
							{% if addmark == True %}
								<button id="submitbtn" class="btn btn-primary">Add New Mark</button>
							{% else %}
								<button id="submitbtn" class="btn btn-primary">Update</button>
							{% endif %}
						<!-- </div> -->
					<!-- </div> -->
				</form>
			</div>
		</div>
	</div>

{% endblock body_block %}
{% block script_block %}



<script>

  if($('#mark_date_attached').val() == "")
  {

     $(function () {
	      
	      
	      $('#datetimepicker').datetimepicker({

				      

					

				      defaultDate: new Date(2000, 0, 0, 24, 0, 0),       // new Date(year, month, day, hours, minutes, seconds, milliseconds); 

				      pickDate: true,                 //en/disables the date picker

				      pickTime: true,

				      format: "YYYY-MM-DD HH:mm:ss",

				      useMinutes: true,               //en/disables the minutes picker

				      useSeconds: true

				      

				      

				      });		

      });

  }
  else
  {
$(function () {
	
	
	    $('#datetimepicker').datetimepicker({

				    

				      

				    //defaultDate: new Date(2000, 0, 0, 24, 0, 0),       // new Date(year, month, day, hours, minutes, seconds, milliseconds); 

				    pickDate: true,                 //en/disables the date picker

				    pickTime: true,

				    format: "YYYY-MM-DD HH:mm:ss",

				    useMinutes: true,               //en/disables the minutes picker

				    useSeconds: true

				    

				    

				    });		

    });
  }


// Global variable contains list of Mark attributes

var mark_att_used = [
	{% for m in min_mark_att_fields %}
		'{{ m.name }}',
	{% endfor %}
	];

var mark_att_all = [
	{% for m in all_mark_att_fields %}
		'{{ m.name }}',
	{% endfor %}
	];

var mark_att_type_all = [
	{% for m in all_mark_att_fields %}
	'{{ m.type }}',
	{% endfor %}
	];

/* Global pointers to the last row of the datatables attributes */
var mark_att_field_previous_value = 'none';

var dtpicker_options = {
		defaultDate: new Date(2000, 0, 0, 24, 0, 0),       // new Date(year, month, day, hours, minutes, seconds, milliseconds);
		pickDate: true,                 //en/disables the date picker
		pickTime: true,
		format: "DD-MM-YYYY HH:mm:ss",
		useMinutes: true,               //en/disables the minutes picker
		useSeconds: true
   	};
var mark_att_lookup_values;
var validation_errors = [];

/**
 * check_mark_attributes_used disables the add mark attribute button if the length of the attributes is maxed
 */
var check_mark_attributes_used = function() {
    if (mark_att_used.length == mark_att_all.length) {
        $('#add-mark-att-btn').attr('disabled', 'disabled');
    } else {
        $('#add-mark-att-btn').removeAttr('disabled');
    }
};

/**
 * get_attributes iterates through a dataTable and grabs the attribute name and value
 *  this function should be generic enough to use in all attribute type tables if they
 *  have been done the same way.
 *
 *  this can also be used by the validate function to quickly grab all the attributes
 *  and use them for validation
 *
 *  So long as the field name (label) is in class attribute-field-select and
 *  the attribute value is in class att-value
 */
var get_attributes = function(tbl) {
    var att = {};

    $("#" + tbl).find('li').each(function() {
        var field = $(this).find('.attribute-field-select').html();
        var fval = $(this).find('.att-value').val();
        att[field] = fval;
    });

    return att;
};

if($('#addMark').val() == "True")
{
var mark_att_field_select = function() {
    console.log('change');
    var parent = $(this).parents("li");
    // add this field to the used array
    var field_selected = $(this).val();
    mark_att_used.push(field_selected);

    // remove the previous value from the field if necessary
    if (mark_att_field_previous_value != 'none') {
        mark_att_used.remove(mark_att_field_previous_value);
    }

    // Change the select to a label
    $(this).remove();
    parent.find("#mark-att-value").before('<label class="col-sm-5 control-label mark-attribute-field-select attribute-field-select">' + field_selected + '</label>');

    // determine the type of the new attribute selected
    var idx = mark_att_all.indexOf($(this).val());
    var atype = mark_att_type_all[idx];

    // remove the old select/input control
    parent.find('#mark-att-value').remove();

    // add the new select/input control for the attribute's value
    if (atype == 'L') {
        // select list of possible values
        var values = mark_att_lookup_values[$(this).val()];
        for (var i=0; i<values.length; i++) {
            var value_field_html = '<select id="mark-att-value" class="form-control col-sm-5 att-value">';
            if (values[i].longval == '') {
                value_field_html += '<option value="' + values[i].shortval + '">' + values[i].shortval + '</option>';
            } else {
                value_field_html += '<option value="' + values[i].shortval + '">' + values[i].longval + ' (' + values[i].shortval + ')</option>';
            }
            value_field_html += '</select>';
            parent.find(".mark-attribute-field-select").after(value_field_html);
        }
    } else if (atype == 'D') {
        // date input field
        var value_field_html = '<div class="input-group date datetimepicker col-sm-5"><input type="text" class="form-control att-value" name="mark-att-value" id="mark-att-value"><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div>';
        parent.find('.mark-attribute-field-select').after(value_field_html);
        $(".datetimepicker").datetimepicker(dtpicker_options);
    } else {
        // text input field
        var value_field_html = '<div class="col-sm-5"><input type="text" class="form-control col-sm-5 att-value" name="mark-att-value" id="mark-att-value"></div>';
        parent.find(".mark-attribute-field-select").after(value_field_html);
    }
    check_mark_attributes_used();
  };
}
else
{
  var mark_att_field_select = function() {
      var parent = $(this).parents("li");
      // add this field to the used array
      var field_selected = $(this).val();
      mark_att_used.push(field_selected);

      // remove the previous value from the field if necessary
      if (mark_att_field_previous_value != 'none') {
	  mark_att_used.remove(mark_att_field_previous_value);
      }
      // Change the select to a label
      $(this).remove();
      parent.find("#mark-att-value").before('</br><label class="control-label mark-attribute-field-select attribute-field-select">' + field_selected + '</label>');

      // determine the type of the new attribute selected
      var idx = mark_att_all.indexOf($(this).val());
      var atype = mark_att_type_all[idx];

      // remove the old select/input control
      parent.find('#mark-att-value').remove();
      // add the new select/input control for the attribute's value
      if (atype == 'L') {
	  // select list of possible values
	  var values = mark_att_lookup_values[$(this).val()];
	  var value_field_html = '<select id="mark-att-value" class="form-control att-value">';
	  for (var i=0; i<values.length; i++) {
		  if (values[i] == '')
			  continue;
	      if (values[i].longval == '') {
		  value_field_html += '<option value="' + values[i].shortval + '">' + values[i].shortval + '</option>';
	      } else {
		  value_field_html += '<option value="' + values[i].shortval + '">' + values[i].longval + ' (' + values[i].shortval + ')</option>';
	      }
	  }
	  value_field_html += '</select>';
	  parent.find(".mark-attribute-field-select").after(value_field_html);
	  
      } else if (atype == 'D') {
	  // date input field
	  var value_field_html = '<div class="input-group date datetimepicker"><input type="text" class="form-control att-value" name="mark-att-value" id="name-att-value"><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div>';
	  parent.find('.mark-attribute-field-select').after(value_field_html);
	  $(".datetimepicker").datetimepicker(dtpicker_options);
      } else {
	  // text input field
	  var value_field_html = '<div class=""><input type="text" class="form-control att-value" name="name-att-value" id="mark-att-value"></div>';
	  parent.find(".mark-attribute-field-select").after(value_field_html);
      }
      check_mark_attributes_used();
  };
}
/**
 * mark_att_field_select_focus grabs the old value of a select field for the attribute name before it gets
 *  changed and puts it in a global
 */
var mark_att_field_select_focus = function() {
    mark_att_field_previous_value = $(this).val();
};

var mark_att_remove_row = function(event) {
    event.preventDefault();
    parent = $(this).parents('li');

    // Check that we haven't used the attribute
    if (parent.find('.mark-attribute-field-select').val() != 'none') {
        mark_att_used.remove(parent.find('.mark-attribute-field-select').html())
    }

    parent.remove();
    check_mark_attributes_used();
};

var mark_att_add_row = function(event) {
    event.preventDefault();     // don't want this button to submit the form
    if (mark_att_used.length == mark_att_all.length) {
        return true;    // ensure that clicking the button when there are no new att's to add does nothing
    }

    // Determine the list of attributes available, and display a select list
    var new_row = '<li><div class="form-group"><select class="col-sm-5 form-control mark-attribute-field-select"><option value="none" selected disabled>Please select</option>';
    for (var i=0; i< mark_att_all.length; i++) {
        if (($.inArray(mark_att_all[i], mark_att_used)) == -1) {
            new_row += '<option value="' + mark_att_all[i] + '">' + mark_att_all[i] + '</option>';
        }
    }

    new_row += '</select><div id="mark-att-value" class="col-sm-5"></div><div class="col-sm-2"><button class="btn mark-attribute-remove"><i class="fa fa-minus"></i></button></div></div></li></br></br>';

    // add new table row
    $("#mark-attributes li").last().after(new_row);

    // rebind the field name select change event
    $(".mark-attribute-field-select").unbind('change');
    $(".mark-attribute-field-select").change(mark_att_field_select);

    // rebind the field name select focus event
    $(".mark-attribute-field-select").unbind('focus');
    $(".mark-attribute-field-select").focus(mark_att_field_select_focus);

    // rebind the remove attribute button
    $('.mark-attribute-remove').unbind('click');
    $('.mark-attribute-remove').click(mark_att_remove_row);

    // disable the add new attribute button until the above changes
    $("#add-mark-att-btn").attr('disabled', 'disabled');
};


var load_mark_attribute_lookup_values = function() {
    $.ajax({
		url: '/portal/api/attribute/lookuplist/M/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			mark_att_lookup_values = data;
		},
	});
};

/**
 * validate_form handles client side validation of all form controls before submitting to server
 * @returns {boolean}
 */
// TODO: Really need to do some validation!
var validate_form = function() {
	
	
	//mark type
	if($('#mark_type').find('option:selected').val() == "none" || $('#mark_type').find('option:selected').val() == "")
	{
	  $('#error').html("Please select a mark type");
	  $('#error').show();
	  return false;
	}
	
	//mark number/id
	if($('#mark_number').val() == "")
	{
	    //highlight field somehow
	    $('#error').html("Mark Number/ID is required");
	    $('#error').show();
	    return false;
	}
	
	//Date
	if(!$('#mark_date_attached').val())
	{
	    $('#error').html("Date Attached is Required");
	    $('#error').show();
	    return false;
	}
	else
	{
	  var datestring = $('#mark_date_attached').val().split(' ');
	  var date = new Date(datestring[0]);
	  var now = new Date();
	  
	  if(now < date)
	  {
	    
	    $('#error').html("Date Must not be in the future");
	    $('#error').show();
	    return false;
	  }
	}
	
	//attributes
	var required = null
	
	$('#mark-attributes').find('input').each(function(){
	  if($(this).attr('required'))
	  {
	    if(($(this).val() == "") || ($(this).find('option:selected').val() == "none"))
	    {
	    //(this). highlight somehow .attr('style', "border-radius: 5px; border:#FF0000 1px solid;");	
	    required = false;
	    }
	  }

	});

	$('#mark-attributes').find('input, select').each(function(){
	  if($(this).attr('required'))
	  {
	    if(($(this).val() == "") || ($(this).find('option:selected').val() == "none"))
	    {
	    //(this). highlight somehow .attr('style', "border-radius: 5px; border:#FF0000 1px solid;");
	    required = false;
	    }
	  }

	});
	
	if( required == false )
	{
	  $('#error').html("Required field(s) is empty")
	  $('#error').show()
	  return false; 
	}

	
	//TODO check if mark already exists


    return true;
};

/**
 * prepare_mark_object puts all form controls into an object to be sent to the server
 */
var mark_prepare_object = function() {
    var mark = {};
    mark['mark'] = {};
    m = mark['mark'];

    // Grab the normal mark fields		
    m['id'] = $("#id").val();
    m['mark_type'] = $("#mark_type").val();
    m['mark_number'] = $("#mark_number").val();
    m['mark_date_attached'] = $("#mark_date_attached").val();

    //determine is present value
    if ($('#mark_is_present').is(':checked'))
    {
      m['mark_is_present'] = $('#mark_is_present').val();
    }
    else
    {
      m['mark_is_present'] = "0";
    }
    
    m['comments'] = $("#mark_comments").val();

    // Grab mark attributes
    m['attributes'] = get_attributes('mark-attributes');
		

    return mark;
};

function submitform() {

	if(validate_form())
	{
	  //event.preventDefault();
	  mark_object = mark_prepare_object();
	  
	  

	      if($('#addMark').val() == "True")
	      {
		  console.log(JSON.stringify(mark_object));
					  $.ajax({
				  url: '/portal/api/mark/add/',
			  data: JSON.stringify(mark_object),
			  type: 'POST',
			  dataType: 'json',
			  success: function(data) {
			  
			    if(data.redirect)
			    {
			      window.location.href= data.redirect;
			    }
			    else
			    {
				  qb_render_resultset(data);
			    }
			
			  },
			  });
	      }
	      else
	      {
			      console.log(JSON.stringify(mark_object));
					  $.ajax({
				  url: '/portal/api/mark/edit/',
			  data: JSON.stringify(mark_object),
			  type: 'POST',
			  dataType: 'json',
			  success: function(data) {
			  
			    if(data.redirect)
			    {
			      window.location.href= data.redirect;
			    }
			    else
			    {
				  qb_render_resultset(data);
			    }
			  },
			  });
	      
	      
	      }
	  } 
}

function qb_render_resultset(rs) {
	if ('errors' in rs) {
		// There were errors, so display those instead of the resultset
		$('#error').html(JSON.stringify(rs));
		$('#error').show();
	} else {
		$('#success').html(JSON.stringify(rs));
		$('#success').show();
	}
};

$('body').on('hidden.bs.modal', '.modal', function () {
	$(this).removeData('bs.modal');
});


$(document).ready(function() {
	
	


      $('#submitbtn').click(function(event){
	event.preventDefault();
	submitform();
	
      });
	
      $('#add-mark-att-btn').click(mark_att_add_row);
      
      // This populates the lookup values for attribute select lists via ajax
      load_mark_attribute_lookup_values();
      
      check_mark_attributes_used();
	

	

});

/**
 * Extends the Array prototype in Javascript to give it a remove method
 * @param value
 */
Array.prototype.remove = function(value) {
    var idx;
    while ((idx = this.indexOf(value)) != -1) {
        this.splice(idx, 1);
    }
}
</script>

{% endblock script_block %}