<!-- This is the HTML to build a table that lists marks and their attributes
It is currently used as part of the search results - listing the marks for a particular animal-->

{% load static %}

	<div class="panel-group" id="mark-list-accordion">
		<div class="panel panel-default">
		<!-- Division for the heading -->
			<div class="panel-heading">
				<a data-toggle="collapse" data-parent="#mark-list-accordion" href="#mark-list-panel">
					<h3>Mark List</h3>
				</a>
			</div><!-- /.panel-heading -->
		
			<!-- Division which holds the table -->
			<div class="panel-body" id="mark-list-panel">
				<div class="table-responsive">
					<!-- Table - heading row -->
					<table class="table table-striped table-bordered table-hover" id="mark-list">
						<thead>
							<tr>
								<!--<th>Animal ID</th>-->
								<th>Mark Type</th>
								<th>Mark Number</th>
								<th>Is the Mark Present?</th>
								<th>Date Applied</th>
								<th>Comments</th>
								<th class="noprint" >Controls</th>
							</tr>
						</thead>
						<!-- Table - pull data from javascript to build table -->
						<tbody>
							{% for data in animal_marks %}
							<tr class="odd gradeX">
								<td>{{data.mark_type}}</td>
								<td><a href="/portal/mark/edit/{{data.id}}" id="editmark" data-toggle="modal" data-target="#mark-detail-div">{{data.mark_number}}</a></td>
								<td>{{data.is_present}}</td>
								<td>{{data.date_attached}}</td>
								<td>{{data.comments}}</td>
								<td class="noprint"><a href="/portal/mark/edit/{{data.id}}" id="editmark" data-toggle="modal" data-target="#mark-detail-div"><i class="fa fa-pencil"></i></a> &nbsp; &nbsp;
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div><!-- /.table-responsive -->
				
				<!-- add division for add mark button -->
				<div class="well">
					<a class="btn btn-primary" id="addmark" data-toggle="modal" data-target="#mark-detail-div" href="/portal/mark/add/{{cur_animal.id}}">Add Mark</a>
				</div>
			
			</div><!-- /.panel-body -->
		</div><!-- /.panel -->                  
	</div><!-- /. panel group -->

<!-- Division - this handles the add mark pop-up -->
	<div id="mark-detail-div" class="modal fade">
		<div class="modal-dialog modal-sml">
			<div class="modal-content">
			</div>
		</div>
	</div>


