<!-- This page builds the HTML for the new animal form -->
{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<!-- Some alerts - currently not displayed -->
<div class="panel-body">
	<div class="alert alert-success alert-dismissable" style="display: none;" id="success-box">
  	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <div id="success-box-message"></div>
  </div>
  <div class="alert alert-danger alert-dismissable" style="display: none;" id="error-box">
  	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <div id="error-box-message"></div>
  </div>
</div>

<!-- division that contains the form -->
<div class="row" id="add-animal-form-div">
	<div class="col-sm-12">
		
		<form>
			<!-- The animal details division -->
			<div class="panel panel-default">
			
				<!-- Heading panel -->
				<div class="panel-heading">
					<h1>Add New Animal</h1>
				</div>
				
				<!-- body of animal details form -->
				<div class="panel-body">
				
					<!-- gender selector -->
					<div class="form-group">
						<label>Gender</label>
							<select name="animal_gender" class="form-control" id="animal_gender">
								<option value="M">Male</option>
								<option value="F">Female</option>
								<option selected value="U">Unknown</option>                                          
							</select>
						</div>
						
						<!-- Comments entry -->
						<div class="form-group">
							<label>Comments</label>
							<textarea name="animal_comments" class="form-control" rows="3" id="animal_comments"></textarea>
							<p class="help-block">Comments about the Animal</p>
						</div>
				</div>
			</div>
        </form>
			<!-- Animal Attributes section of the form -->
        <form class="form-horizontal">
			<div class="panel panel-default">
			
				<!-- Animal Attributes Heading -->
				<div class="panel-heading">
					<h4>Animal Attributes</h4>
				</div>
				
				<!-- set up table that will display attributes -->
				<div class="panel-body">
                    <ul id="animal-attributes" class="attributes-list">
                        {% for a in min_animal_att_fields %}
                        <li>
                            <div class="form-group">
                                <label class="col-sm-5 control-label animal-attribute-field-select attribute-field-select">{{ a.name }}</label>
                                <div class="col-sm-5">
                                    {% if a.type == 'L' %}
                                    <select name="animal_att_{{ a.pk }}" class="form-control att-value">
                                        <option value="none" disabled selected>Please select...</option>
                                        {% for v in a.vals %}
                                            {% if v.longval == '' %}
                                            <option value="{{ v.shortval }}">{{ v.shortval }}</option>
                                            {% else %}
                                            <option value="{{ v.shortval }}">{{ v.longval }} ({{ v.shortval }})</option> }}
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    {% elif a.type == 'D' %}
                                        <div class="input-group date datetimepicker">
                                            <input type="text" class="form-control att-value" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    {% else %}
                                    <input type="text" class="form-control att-value">
                                    {% endif %}
                                </div>
                                <div class="col-sm-2"></div>
                        </div>
                        </li>
                        {% endfor %}
                    </ul>
    				<button type="button" class="btn btn-primary" id="add-animal-att-btn"><i class="fa fa-plus"></i> Add Animal Attribute</button>
				</div>
			</div>
		</form>
			<!-- Mark section of form -->
        <form>
			<div class="panel panel-default">
				<!-- Mark info heading -->
				<div class="panel-heading">
					<h4>Mark Information</h4>
				</div>
				
				<!-- body of mark form -->
				<div class="panel-body">
				
					<!-- Mark type selector -->
                    <!-- TODO: needs to be changed to pull mark types from database -->
					<div class="form-group">
						<label>Mark Type</label>
						<select name="mark_type" class="form-control" id="mark_type">
							<option selected value="Metal">Metal</option>
							<option value="Plastic - Green">Plastic - Green</option>
							<option value="Plastic - White">Plastic - White</option>
							<option value="Tatoo">Tattoo</option>
							<option value="Brand">Brand</option>
						</select>
					</div>
					
					<!-- Mark number input -->
					<div class="form-group">
						<label>Mark Number</label>
						<input class="form-control" name="mark_number" id="mark_number">
						<p class="help-block">Mark Number</p>
					</div>
					
					<!-- Date Applied input -->
					<div class="form-group">
						<label>Date Applied</label>
						<div class='input-group date datetimepicker'>
							<input type='text' class="form-control" name="mark_date_attached"  id="mark_date_attached"/>
							<span class="input-group-addon">
							    <span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
						<p class="help-block">When the Mark was applied to the animal</p>
					</div>
					
					<!-- Is present? input -->
					<div class="form-group">
						<label class="checkbox-is">Is Present &nbsp;
							<input name="mark_is_present" value="1" type="checkbox" id="mark_is_present" checked> &nbsp; Yes
						</label>
					</div>
					
					<!-- Comments input -->
					<div class="form-group">
						<label>Comments</label>
						<textarea name="mark_comments" class="form-control" rows="3" id="mark_comments"></textarea>
						<p class="help-block">Comments about the Mark</p>
					</div>
				</div>
			</div>
		</form>

        <!-- Mark attributes section -->
        <form class="form-inline">
			<div class="panel panel-default">
				<!-- Heading Panel -->
				<div class="panel-heading">
					<h4>Mark Attributes</h4>
				</div>
				
				<!-- Body of Mark Attributes form -->
				<div class="panel-body">
                    <ul id="mark-attributes" class="attributes-list">
                        {% for a in min_mark_att_fields %}
                        <li>
                            <div class="form-group">
                                <label class="col-sm-5 control-label attribute-field-select">{{ a.name }}</label>
                                <div class="col-sm-5">
                                    {% if a.type == 'L' %}
                                    <select name="animal_att_{{ a.pk }}" class="form-control att-value" id="mark-att-value">
                                        <option value="none" disabled selected>Please select...</option>
                                        {% for v in a.vals %}
                                        <option value="{{ v.pk }}">{{ v.shortval }}</option>
                                        {% endfor %}
                                    </select>
                                    {% elif a.type == 'D' %}
                                        <div class="input-group date datetimepicker col-sm-5">
                                            <input type="text" class="form-control att-value" name="mark-att-value" id="mark-att-value">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    {% else %}
                                    <input type="text" class="form-control col-sm-5 att-value" name="mark-att-value" id="mark-att-value">
                                    {% endif %}
                                </div>
                                <div class="col-sm-2"></div>
                        </div>
                        </li>
                        {% endfor %}
                    </ul>
    				<button type="button" class="btn btn-primary" id="add-mark-att-btn"><i class="fa fa-plus"></i> Add Mark Attribute</button>
				</div>
			</div>
            <!-- Division for Submit button -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <button id="submitbtn" class="btn btn-primary">Add New Animal</button>
                </div>
            </div>
		</form>
	</div>
</div>

{% endblock body_block %}
{% block script_block %}

<!-- Links to the Javascript files -->
<script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/plugins/dataTables/dataTables.bootstrap.js' %}"></script>

<script>

/**
 * Global variables to store the attribute data so form controls can be added dynamically
 */
var animal_att_used = [
	{% for a in min_animal_att_fields %}
		'{{ a.name }}',
	{% endfor %}
	];

var animal_att_all = [
	{% for a in all_animal_att_fields %}
		'{{ a.name }}',
	{% endfor %}
	];

var animal_att_type_all = [
	{% for a in all_animal_att_fields %}
	'{{ a.type }}',
	{% endfor %}
	];

var mark_att_used = [
	{% for m in min_mark_att_fields %}
		'{{ m.name }}',
	{% endfor %}
	];

var mark_att_all = [
	{% for m in all_mark_att_fields %}
		'{{ m.name }}',
	{% endfor %}
	];

var mark_att_type_all = [
	{% for m in all_mark_att_fields %}
	'{{ m.type }}',
	{% endfor %}
	];

/* Global pointers to the last row of the datatables attributes */
var mark_att_field_previous_value = 'none';
var animal_att_field_previous_value = 'none';
var dtpicker_options = {
		defaultDate: new Date(2000, 0, 0, 24, 0, 0),       // new Date(year, month, day, hours, minutes, seconds, milliseconds);
		pickDate: true,                 //en/disables the date picker
		pickTime: true,
		format: "DD-MM-YYYY HH:mm:ss",
		useMinutes: true,               //en/disables the minutes picker
		useSeconds: true
   	};
var mark_att_lookup_values;
var animal_att_lookup_values;
var validation_errors = [];

/**
 * check_animal_attributes_used disabled the add attribute button if the length of the attributes is the max
 */
var check_animal_attributes_used = function() {
    if (animal_att_used.length == animal_att_all.length) {
        $('#add-animal-att-btn').attr('disabled', 'disabled');
    } else {
        $('#add-animal-att-btn').removeAttr('disabled');
    }

};

/**
 * check_mark_attributes_used disables the add mark attribute button if the length of the attributes is maxed
 */
var check_mark_attributes_used = function() {
    if (mark_att_used.length == mark_att_all.length) {
        $('#add-mark-att-btn').attr('disabled', 'disabled');
    } else {
        $('#add-mark-att-btn').removeAttr('disabled');
    }
};

/**
 * get_attributes iterates through a dataTable and grabs the attribute name and value
 *  this function should be generic enough to use in all attribute type tables if they
 *  have been done the same way.
 *
 *  this can also be used by the validate function to quickly grab all the attributes
 *  and use them for validation
 *
 *  So long as the field name (label) is in class attribute-field-select and
 *  the attribute value is in class att-value
 */
var get_attributes = function(tbl) {
    var att = {};

    $("#" + tbl).find('li').each(function() {
        var field = $(this).find('.attribute-field-select').html();
        var fval = $(this).find('.att-value').val();
        att[field] = fval;
    });

    return att;
};

/**
 * prepare_animal_object puts all form controls into an object to be sent to the server
 */
var prepare_animal_object = function() {
    var a = {};
    a.attributes = {};
    a.mark = {};
    a.mark.attributes = {};

    // Grab the normal animal fields
    a['gender'] = $("#animal_gender").val();
    a['comments'] = $("#animal_comments").val();

    // Grab animal attributes
    a.attributes = get_attributes('animal-attributes');

    // Grab normal mark fields
    a.mark['type'] = $("#mark_type").val();
    a.mark['number'] = $('#mark_number').val();
    a.mark['is_present'] = $('#mark_is_present').is(":checked");
    a.mark['date_attached'] = $("#mark_date_attached").val();
    a.mark['comments'] = $("#mark_comments").val();

    // Grab mark attributes
    a.mark.attributes = get_attributes('mark-attributes');

    return a;
};

/**
 * validate_form handles client side validation of all form controls before submitting to server
 * @returns {boolean}
 */
        // TODO: Really need to do some validation!
var validate_form = function() {
    return true;
};

/**
 * render_result takes the ajax response (r) and determines success or failure
 */
var render_result = function(r) {
    if ("errors" in r) {
        // Unhide error message div and display errors
        validation_errors = r['errors'];
        display_errors();
    } else {
        // Remove the form (delete it from the dom!)
        $('#add-animal-form-div').html('');
        // Display success message
        display_success(r['success']);
    }

};

var display_errors = function() {
    var errmsg = 'There was a problem completing your request:<ul>';
    for (var i=0; i<validation_errors.length; i++) {
        errmsg += '<li>' + validation_errors[i] + '</li>';
    }
    errmsg += '</ul>';
    $("#error-box-message").html(errmsg);
    $("#error-box").show();
};

var display_success = function(msg) {
    $("#success-box-message").html(msg);
    $("#success-box").show();
};

/**
 * ajax_submit_new_animal - When the add animal form is clicked, this validates the form and submits an ajax request
 */
var ajax_submit_new_animal = function(event) {
    event.preventDefault();
    if (validate_form()) {
        animal = prepare_animal_object();
        console.log(animal)
        $.ajax({
            url: '/portal/api/animal/add/',
            data: JSON.stringify(animal),
            type: 'post',
            dataType: 'json',
            success: function (data) {
                render_result(data);
            },
        });
    } else {
        // validate_form will populate the validation_errors array
        // display_errors displays these errors in a red window
        display_errors();
    }
};

var animal_att_field_select = function() {
    var parent = $(this).parents("li");
    // add this field to the used array
    var field_selected = $(this).val();
    animal_att_used.push(field_selected);

    // remove the previous value from the field if necessary
    if (animal_att_field_previous_value != 'none') {
        animal_att_used.remove(animal_att_field_previous_value);
    }

    // Change the select to a label
    $(this).remove();
    parent.find("#animal-att-value").before('<label class="col-sm-5 control-label mark-attribute-field-select attribute-field-select">' + field_selected + '</label>');

    // determine the type of the new attribute selected
    var idx = animal_att_all.indexOf($(this).val());
    var atype = animal_att_type_all[idx];

    // remove the old select/input control
    parent.find('#animal-att-value').remove();

    // add the new select/input control for the attribute's value
    if (atype == 'L') {
        // select list of possible values
        var values = animal_att_lookup_values[$(this).val()];
        for (var i=0; i<values.length; i++) {
            var value_field_html = '<select id="animal-att-value" class="form-control col-sm-5 att-value">';
            if (values[i].longval == '') {
                value_field_html += '<option value="' + values[i].shortval + '">' + values[i].shortval + '</option>';
            } else {
                value_field_html += '<option value="' + values[i].shortval + '">' + values[i].longval + ' (' + values[i].shortval + ')</option>';
            }
            value_field_html += '</select>';
            parent.find(".animal-attribute-field-select").after(value_field_html);
        }
    } else if (atype == 'D') {
        // date input field
        var value_field_html = '<div class="input-group date datetimepicker col-sm-5"><input type="text" class="form-control att-value" name="animal-att-value" id="name-att-value"><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div>';
        parent.find('.animal-attribute-field-select').after(value_field_html);
        $(".datetimepicker").datetimepicker(dtpicker_options);
    } else {
        // text input field
        var value_field_html = '<div class="col-sm-5"><input type="text" class="form-control col-sm-5 att-value" name="name-att-value" id="animal-att-value"></div>';
        parent.find(".animal-attribute-field-select").after(value_field_html);
    }
    check_animal_attributes_used();
};

var mark_att_field_select = function() {
    console.log('change');
    var parent = $(this).parents("li");
    // add this field to the used array
    var field_selected = $(this).val();
    mark_att_used.push(field_selected);

    // remove the previous value from the field if necessary
    if (mark_att_field_previous_value != 'none') {
        mark_att_used.remove(mark_att_field_previous_value);
    }

    // Change the select to a label
    $(this).remove();
    parent.find("#mark-att-value").before('<label class="col-sm-5 control-label mark-attribute-field-select attribute-field-select">' + field_selected + '</label>');

    // determine the type of the new attribute selected
    var idx = mark_att_all.indexOf($(this).val());
    var atype = mark_att_type_all[idx];

    // remove the old select/input control
    parent.find('#mark-att-value').remove();

    // add the new select/input control for the attribute's value
    if (atype == 'L') {
        // select list of possible values
        var values = mark_att_lookup_values[$(this).val()];
        for (var i=0; i<values.length; i++) {
            var value_field_html = '<select id="mark-att-value" class="form-control col-sm-5 att-value">';
            if (values[i].longval == '') {
                value_field_html += '<option value="' + values[i].shortval + '">' + values[i].shortval + '</option>';
            } else {
                value_field_html += '<option value="' + values[i].shortval + '">' + values[i].longval + ' (' + values[i].shortval + ')</option>';
            }
            value_field_html += '</select>';
            parent.find(".mark-attribute-field-select").after(value_field_html);
        }
    } else if (atype == 'D') {
        // date input field
        var value_field_html = '<div class="input-group date datetimepicker col-sm-5"><input type="text" class="form-control att-value" name="mark-att-value" id="mark-att-value"><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div>';
        parent.find('.mark-attribute-field-select').after(value_field_html);
        $(".datetimepicker").datetimepicker(dtpicker_options);
    } else {
        // text input field
        var value_field_html = '<div class="col-sm-5"><input type="text" class="form-control col-sm-5 att-value" name="mark-att-value" id="mark-att-value"></div>';
        parent.find(".mark-attribute-field-select").after(value_field_html);
    }
    check_mark_attributes_used();
};

/**
 * mark_att_field_select_focus grabs the old value of a select field for the attribute name before it gets
 *  changed and puts it in a global
 */
var mark_att_field_select_focus = function() {
    mark_att_field_previous_value = $(this).val();
};

/**
 * animal_att_field_select_focus grabs the old value of a select field for the attribute name before it gets
 *  changed and puts it in a global
 */
var animal_att_field_select_focus = function() {
    mark_att_field_previous_value = $(this).val();
};


var animal_att_remove_row = function(event) {
    event.preventDefault();
    parent = $(this).parents('li');

    // Check that we haven't used the attribute
    if (parent.find('.animal-attribute-field-select').val() != 'none') {
        animal_att_used.remove(parent.find('.animal-attribute-field-select').html())
    }

    parent.remove();
    check_animal_attributes_used();
};


var mark_att_remove_row = function(event) {
    event.preventDefault();
    parent = $(this).parents('li');

    // Check that we haven't used the attribute
    if (parent.find('.mark-attribute-field-select').val() != 'none') {
        mark_att_used.remove(parent.find('.mark-attribute-field-select').html())
    }

    parent.remove();
    check_mark_attributes_used();
};

var mark_att_add_row = function(event) {
    event.preventDefault();     // don't want this button to submit the form
    if (mark_att_used.length == mark_att_all.length) {
        return true;    // ensure that clicking the button when there are no new att's to add does nothing
    }

    // Determine the list of attributes available, and display a select list
    var new_row = '<li><div class="form-group"><select class="col-sm-5 form-control mark-attribute-field-select"><option value="none" selected disabled>Please select</option>';
    for (var i=0; i< mark_att_all.length; i++) {
        if (($.inArray(mark_att_all[i], mark_att_used)) == -1) {
            new_row += '<option value="' + mark_att_all[i] + '">' + mark_att_all[i] + '</option>';
        }
    }

    new_row += '</select><div id="mark-att-value" class="col-sm-5"></div><div class="col-sm-2"><button class="btn mark-attribute-remove"><i class="fa fa-minus"></i></button></div></div></li>';

    // add new table row
    $("#mark-attributes li").last().after(new_row);

    // rebind the field name select change event
    $(".mark-attribute-field-select").unbind('change');
    $(".mark-attribute-field-select").change(mark_att_field_select);

    // rebind the field name select focus event
    $(".mark-attribute-field-select").unbind('focus');
    $(".mark-attribute-field-select").focus(mark_att_field_select_focus);

    // rebind the remove attribute button
    $('.mark-attribute-remove').unbind('click');
    $('.mark-attribute-remove').click(mark_att_remove_row);

    // disable the add new attribute button until the above changes
    $("#add-mark-att-btn").attr('disabled', 'disabled');
};

var animal_att_add_row = function(event) {
    event.preventDefault();     // don't want this button to submit the form
    if (animal_att_used.length == animal_att_all.length) {
        return true;    // ensure that clicking the button when there are no new att's to add does nothing
    }

    // Determine the list of attributes available, and display a select list
    var new_row = '<li><div class="form-group"><select class="col-sm-5 form-control animal-attribute-field-select"><option value="none" selected disabled>Please select</option>';
    for (var i=0; i< animal_att_all.length; i++) {
        if (($.inArray(animal_att_all[i], animal_att_used)) == -1) {
            new_row += '<option value="' + animal_att_all[i] + '">' + animal_att_all[i] + '</option>';
        }
    }

    new_row += '</select><div id="animal-att-value" class="col-sm-5"></div><div class="col-sm-2"><button class="btn animal-attribute-remove"><i class="fa fa-minus"></i></button></div></div></li>';

    // add new table row
    $("#animal-attributes li").last().after(new_row);

    // rebind the field name select change event
    $(".animal-attribute-field-select").unbind('change');
    $(".animal-attribute-field-select").change(animal_att_field_select);

    // rebind the field name select focus event
    $(".animal-attribute-field-select").unbind('focus');
    $(".animal-attribute-field-select").focus(animal_att_field_select_focus);

    // rebind the remove attribute button
    $('.animal-attribute-remove').unbind('click');
    $('.animal-attribute-remove').click(animal_att_remove_row);

    // disable the add new attribute button until the above changes
    $("#add-animal-att-btn").attr('disabled', 'disabled');
};

/**
 * load_mark_attribute_lookup_values grabs the attribute lookup values in a json and populates a global
 */
var load_mark_attribute_lookup_values = function() {
    $.ajax({
		url: '/portal/api/attribute/lookuplist/M/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			mark_lookup_values = data;
		},
	});
};

/**
 * load_animal_attribute_lookup_values grabs the attribute lookup values in a json and populates a global
 */
var load_animal_attribute_lookup_values = function() {
    $.ajax({
		url: '/portal/api/attribute/lookuplist/A/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			animal_lookup_values = data;
		},
	});
};


$(document).ready(function() {

	$('.datetimepicker').datetimepicker(dtpicker_options);

	$('#submitbtn').click(ajax_submit_new_animal);

    $('#add-animal-att-btn').click(animal_att_add_row);
	$('#add-mark-att-btn').click(mark_att_add_row);

    // This populates the lookup values for attribute select lists via ajax
    load_mark_attribute_lookup_values();
    load_animal_attribute_lookup_values();

    // Check that the max number of animal and mark attributes have not been reached
    // if they have disabled those 'add' buttons.
    check_animal_attributes_used();
    check_mark_attributes_used();
});

/**
 * Extends the Array prototype in Javascript to give it a remove method
 * @param value
 */
Array.prototype.remove = function(value) {
    var idx;
    while ((idx = this.indexOf(value)) != -1) {
        this.splice(idx, 1);
    }
}
</script>

{% endblock script_block %}
