<div class="panel panel-primary">
    <div class="panel-heading">
        <h1>Load Query</h1>
    </div> <!-- /.panel-heading -->
    <div class="panel-body" id="queryload-form">

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div> <!-- /.panel-body -->
</div> <!-- /.panel -->

<script>

</script>