{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class="row spacer">
    <div id="alerts">

    </div>
</div>
<div class="row spacer">
	<div id="querybuilder-control-panel" class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h1>Query Builder</h1>
			</div> <!-- /.panel-heading -->
			<div class="panel-body" id="querybuilder-form">
		<form class="form-inline">
<ul id="sortable">
	<li><span class="fa fa-unsorted"></span>
			<select id="qb-table-select" class="form-control qb-table-select">
				<option value="UNDEFINED" selected disabled>Select a table...</option>
				<option value="Animal">Animal</option>
				<option value="Log">Log</option>
				<option value="Mark">Mark</option>
				<option value="Breeding">Breeding</option>
			</select>
			<select id="qb-field-select" class="form-control qb-field-select" disabled>
				<option value="UNDEFINED" selected disabled>Select field...</option>
			</select>
			<select id="qb-operation-select" class="form-control qb-operation-select" disabled>
				<option value="UNDEFINED" selected disabled>Select operation...</option>
			</select>
			<input type="text" id="qb-filter-input" class="form-control qb-filter-input" placeholder="Enter condition..." disabled>
			<input type="text" id="qb-filter-input2" class="form-control qb-filter-input2" placeholder="Enter condition..." disabled>
			<button class="btn qb-addrow"><i class="fa fa-plus"></i></button>
			<button class="btn qb-delrow"><i class="fa fa-minus"></i></button>
	</li>
</ul>				
</form>
			</div> <!-- /.panel-heading -->
			<div class="panel-body">
                <a class="btn btn-primary" data-toggle="modal" data-target="#query-save-div" href="#">Save</a>
                <button id="querybuilder-load-button" class="btn btn-primary">Load</button>
                <button id="querybuilder-execute-button" class="btn btn-primary">Execute</button>
			</div> <!-- /.panel-body -->
		</div> <!-- /. panel -->
	</div> <!-- /.col-md-12 -->
</div> <!-- /.row -->

<div class="row">
	<div id="querybuilder-result-panel" class="col-md-12">
		<p>The resultset will go here</p>
	</div> <!-- /.col-md-12 -->
</div> <!-- ./row -->
<div id="qb-row-form" style="display:none">
	<li><span class="fa fa-unsorted"></span>
		<select id="qb-table-select" class="form-control qb-table-select">
			<option value="UNDEFINED" selected disabled>Select a table...</option>
			<option value="Animal">Animal</option>
			<option value="Log">Log</option>
			<option value="Mark">Mark</option>
			<option value="Breeding">Breeding</option>
		</select>
		<select id="qb-field-select" class="form-control qb-field-select" disabled>
			<option value="UNDEFINED" selected disabled>Select field...</option>
		</select>
		<select id="qb-operation-select" class="form-control qb-operation-select" disabled>
			<option value="UNDEFINED" selected disabled>Select operation...</option>
		</select>
		<input type="text" id="qb-filter-input" class="form-control qb-filter-select" placeholder="Enter condition..." disabled>
		<input type="text" id="qb-filter-input2" class="form-control qb-filter-input2" placeholder="Enter condition..." disabled>
		<button class="btn qb-addrow"><i class="fa fa-plus"></i></button>
		<button class="btn qb-delrow"><i class="fa fa-minus"></i></button>
	</li>
</div> <!-- ./qb-row-form -->

<div id="query-save-div" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Save Query</h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Query Name/Description</label>
                <input type="text" class="form-control" id="save-query-name" placeholder="Enter name">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="save-query-save-button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="query-load-div" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Load Query</h4>
      </div>
      <div class="modal-body">
        <p>Please select a query to load:</p>
        <table id="load-query-table" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created By</th>
                    <th>Created Date</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock body_block %}
{% block script_block %}

<script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/plugins/dataTables/dataTables.bootstrap.js' %}"></script>

<!-- Date Picker -->
<script src="/static/js/moment.js"></script>
<script src="/static/js/bootstrap-datetimepicker.min.js"></script>

<script>

/**
 *	These global data structures hold the field lists for the query forms
 */
var fields = {};
var attributes = {};
var att_values = {};
var allowed_operations = {
	'CharField': ['blank', 'display','equals', 'does not equal', 'contains', 'does not contain'],
	'TextField': ['blank', 'display','equals', 'does not equal', 'contains', 'does not contain'],
	'BigIntegerField': ['blank', 'display','equals', 'does not equal', 'less than', 'less than or equal to', 'greater than', 'greater than or equal to', 'between', 'between (inclusive)'],
	'FloatField': ['blank', 'display','equals', 'does not equal', 'less than', 'less than or equal to', 'greater than', 'greater than or equal to', 'between', 'between (inclusive)'],
	'BooleanField': ['blank', 'display','is'],
	'DateTimeField': ['blank', 'display','equals', 'before', 'after', 'between'],
	'ForeignKey': ['blank', 'display', 'equals'],
	'FileField': [],
    'AutoField': ['blank', 'display']
}

var allowed_operations_attributes = {
    'I': ['blank', 'display','equals', 'does not equal', 'less than', 'less than or equal to', 'greater than', 'greater than or equal to', 'between', 'between (inclusive)'],
    'F': ['blank', 'display','equals', 'does not equal', 'less than', 'less than or equal to', 'greater than', 'greater than or equal to', 'between', 'between (inclusive)'],
    'T': ['blank', 'display','equals', 'does not equal', 'contains', 'does not contain'],
    'D': ['blank', 'display','equals', 'before', 'after', 'between'],
    'L': ['blank', 'display', 'equals']
};

var validation_errors = [];

/**
 *	qb_validate is used to make sure the user input for the query is good
 */

var qb_validate = function() {
	return true;
};

var qb_prepare_object = function() {
	var query = { query: [] };
	$("#sortable li").each(function(i, li) {
		var qr = {};
		var tbl_select = $(li).find('#qb-table-select');
		var field_select = $(li).find('#qb-field-select');
		var op_select = $(li).find('#qb-operation-select');
		var filter_input = $(li).find('#qb-filter-input');
		var filter_input2 = $(li).find('#qb-filter-input2');
		qr['table'] = tbl_select.val();
		qr['field'] = field_select.val();
		qr['operation'] = op_select.val();
		qr['filter'] = filter_input.val();
		if (qr['operation'].indexOf('between') != -1) {
			qr['filter2'] = filter_input2.val();
		}
		query.query.push(qr);
	});
	return query;
};

/**
 * show_errors() - displays the validation errors in a dismissible dialog
 */
var show_errors = function() {
    var errlist = '<ul>';
    for (var i=0; i<validation_errors.length; i++) {
        errlist += '<li>' + validation_errors[i] + '</li>';
    }
    errlist += '</ul>';
    $('#alerts').html('<div class="alert alert-danger fade in"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>' + errlist + '</div>');
};

/**
 * show_errors() - displays the validation errors in a dismissible dialog
 */
var show_success = function(msg) {
    $('#alerts').html('<div class="alert alert-success fade in"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>' + msg + '</div>');
};

/**
 * qb_save - makes an AJAX request to save the current query to be used again later
 */
var qb_save = function() {
    if (qb_validate()) {
        qname = $('#save-query-name').val();
        if (qname != '') {
            var save = qb_prepare_object();
            save.name = qname;
            // make the ajax call
            $.ajax({
                url: '/portal/api/query/save/',
                data: JSON.stringify(save),
                type: 'post',
                dataType: 'json',
                success: function(data) {
                    if (data.success) {
                        show_success(data.success);
                    } else {
                        validation_errors = data.error;
                        show_errors();
                    }
                },
            });
        } else {
            validation_errors = [];
            validation_errors.push("Your query must have a name to be saved.");
            show_errors();
        }
    } else {
        show_errors();
	}
    $('#query-save-div').modal('hide');
};

/**
 *	qb_get_columnlist returns an array of columns for a datatable
 */
var qb_get_columnlist = function() {
	var query_object = qb_prepare_object();
	var columns = [{"title": "Animal"}];
	for (var i=0; i<query_object.query.length; i++) {
		columns.push({"title": query_object.query[i].field });
	}
	return columns;
};

/**
 *	qb_render_resultset is called whenever an AJAX call to /portal/api/query/ is returned
 */
var qb_render_resultset = function(rs) {
	if ('errors' in rs) {
		validation_errors = rs.errors;
		show_errors();
		$('#querybuilder-result-panel').html('<p>There were errors processing your request</p>');
	} else {
		if (rs.results.length > 0) {
			for (var i=0; i<rs.results.length; i++) {
				id=rs.results[i][0];
				rs.results[i][0] = '<a href="http://albatross5.scriptforge.org:8000/portal/animal/view/' + id + '/"><i class="fa fa-file"></i></a>';
			}
			$('#querybuilder-result-panel').html('<table class="table table-striped table-bordered" id="result-table" width="100%" cellpadding="5"></table>');
			$('#querybuilder-result-panel #result-table').dataTable({
					"data": rs.results,
					"columns": qb_get_columnlist(),
					"scrollX": true,
				});
		} else {
			$('#querybuilder-result-panel').html('<p>There were no results to match your query.</p>');
		}
	}
};

/**
 *	qb_execute function is called when the execute button is clicked
 */
var qb_execute = function() {
	if (qb_validate()) {
		var query_object = qb_prepare_object();
		$('#querybuilder-result-panel').html('Searching...');
		// make the ajax call
		$.ajax({
			url: '/portal/api/query/',
			data: JSON.stringify(query_object),
			type: 'post',
			dataType: 'json',
			success: function(data) {
				qb_render_resultset(data);
			},
		});
	} else {
        show_errors();
	}
};

/**
 *	qb_load function is called when the load button is clicked
 */
var qb_load = function() {
    // AJAX Call to get list of queries
    $.ajax({
        url: '/portal/api/query/list/',
        type: 'get',
        dataType: 'json',
        success: function(data) {
            var qlist = '';
            for (var i=0; i<data.length; i++) {
                qlist += '<tr>';
                qlist += '<td><a href="#" onclick="qb_load_query(' + data[i].id + ')">' + data[i].name + '</a></td>';
                qlist += '<td>' + data[i].created_by + '</td>';
                qlist += '<td>' + data[i].date_created + '</td>';
                qlist += '<td><a href="#" onclick="qb_delete_query(' + data[i].id + ')"><i class="fa fa-trash-o" rel="tooltip" title="delete"></i></a></td>';
                qlist += '</tr>'
            }
            $('#load-query-table tbody').html(qlist);
            $('#query-load-div').modal('show')
        },
    });

};

var qb_delete_query = function(id) {
    // AJAX Call to get list of queries
    $.ajax({
        url: '/portal/api/query/delete/' + id,
        type: 'get',
        dataType: 'json',
        success: function (data) {
            if (data.success) {
                show_success(data.success);
            } else {
                validation_errors = data.error;
                show_errors();
            }
            $('#query-load-div').modal('hide')
        },
    });
}

var qb_load_query = function(id) {
    // AJAX Call to get query serialised
    $.ajax({
        url: '/portal/api/query/load/'+id,
        method: 'get',
        dataType: 'json',
        success: function(data) {
            $('#query-load-div').modal('hide');
            // Wipe out the current query and replace it with this JSON
            $('#sortable').empty();
            var q = data['query'];
            for (var i = 0; i < q.length; i++) {
                qb_add_row_load();
                var parent = $('#sortable li').last();
                parent.find('#qb-table-select option').each(function () {
                    if ($(this).val() == q[i].table) {
                        $(this).attr("selected", "selected");
                    }
                });
                parent.find('#qb-table-select').change();
                parent.find('#qb-field-select option').each(function () {
                    if ($(this).val() == q[i].field) {
                        $(this).attr("selected", "selected");
                    }
                });
                parent.find('#qb-field-select').change();
                parent.find('#qb-operation-select option').each(function () {
                    if ($(this).val() == q[i].operation) {
                        $(this).attr("selected", "selected");
                    }
                });
                parent.find('#qb-operation-select').change();
                if (q[i].filter) {
                    parent.find('#qb-filter-input').val(q[i].filter);
                }
                if (q[i].filter2) {
                    parent.find('#qb-filter-input2').val(q[i].filter2);
                }

            }
        },
    });
};

/**
 *	qb_add_row_load is called when ever the '+' add row button is clicked
 */
var qb_add_row_load = function() {
	// determine which row the add button is and inject new row
	var row_html = $('#qb-row-form').html();
    $('#sortable').append($(row_html));
	// now we have at least two rows, display '-' delete buttons
	$('.qb-delrow').show();
	// rebind event listeners
	$('.qb-addrow').unbind('click');
	$('.qb-delrow').unbind('click');
	$('.qb-table-select').unbind('change');
	$('.qb-field-select').unbind('change');
	$('.qb-addrow').click(qb_add_row);
	$('.qb-delrow').click(qb_del_row);
	$('.qb-table-select').change(qb_select_table_change);
	$('.qb-field-select').change(qb_select_field_change);
	$('.qb-operation-select').change(qb_select_operation_change);
};


/**
 *	qb_add_row is called when ever the '+' add row button is clicked
 */
var qb_add_row = function(event) {
	event.preventDefault(); // cancel default behavior
	// determine which row the add button is and inject new row
	var row_html = $('#qb-row-form').html();
	$(this).parents('li').after($(row_html));
	// now we have at least two rows, display '-' delete buttons
	$('.qb-delrow').show();
	// rebind event listeners
	$('.qb-addrow').unbind('click');
	$('.qb-delrow').unbind('click');
	$('.qb-table-select').unbind('change');
	$('.qb-field-select').unbind('change');
	$('.qb-addrow').click(qb_add_row);
	$('.qb-delrow').click(qb_del_row);
	$('.qb-table-select').change(qb_select_table_change);
	$('.qb-field-select').change(qb_select_field_change);
	$('.qb-operation-select').change(qb_select_operation_change);
};

/**
 *	qb_del_row is called whenever the '-' del row button is clicked
 */

var qb_del_row = function(event) {
	event.preventDefault(); // cancel default behaviour
	// ensure we're not deleting the last row
	if ($('#sortable li').length == 1) { return; }	
	// determine which row the del button is and delete that row
	parent = $(this).parents('li');
	parent.remove();
	// now we may only have one row left, if so then hide the '-' buttons
	if ($('#sortable li').length == 1) {
		$('.qb-delrow').hide();
	}
};


/**
 * load_field_lists is called when the document loads to provide
 * data structure content for the dropdown selects on the query builder
 * form as required
 */
var load_field_lists = function() {
	// Load the major table field lists
	$.ajax({
		url: '/portal/api/models/A/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			fields['Animal'] = data;
		},
	});
	$.ajax({
		url: '/portal/api/models/L/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			fields['Log'] = data;
		},
	});
	$.ajax({
		url: '/portal/api/models/M/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			fields['Mark'] = data;
		},
	});
	$.ajax({
		url: '/portal/api/models/B/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			fields['Breeding'] = data;
		},
	});

	// Load the attribute field lists
	$.ajax({
		url: '/portal/api/attribute/fieldlist/A/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			attributes['Animal'] = data;
		},
	});
	$.ajax({
		url: '/portal/api/attribute/fieldlist/L/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			attributes['Log'] = data;
		},
	});
	$.ajax({
		url: '/portal/api/attribute/fieldlist/M/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			attributes['Mark'] = data;
		},
	});
	$.ajax({
		url: '/portal/api/attribute/fieldlist/B/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			attributes['Breeding'] = data;
		},
	});

};


/**
 *	qb_select_table_change is called whenever a query builder row's table is selected
 */
var qb_select_table_change = function() {
	// Get the parent li
	parent = $(this).parents('li');
	var tbl_select = parent.find('#qb-table-select');
	var field_select = parent.find('#qb-field-select');
	var op_select = parent.find('#qb-operation-select');
	var filter_input = parent.find('#qb-filter-input');
	field_select.find('option').remove().end().append('<option value="UNDEFINED" selected disabled>Select field...</option>').val('UNDEFINED');
    var tbl = tbl_select.val();
	for (var i=0; i< fields[tbl].length; i++) {
		field_select.append($('<option>', { value: fields[tbl][i].name, text: fields[tbl][i].verbose_name }));
	}
    for (var i=0; i<attributes[tbl].length; i++) {
        field_select.append($('<option>', { value: attributes[tbl][i].name, text: attributes[tbl][i].name}));
    }
	field_select.removeAttr('disabled');
};

var is_attribute = function(tbl, field) {
	var found = false;
	for (var i=0; i < attributes[tbl].length; i++) {
		if (field == attributes[tbl][i].name) {
			found = true;
		}
	}
	return found;
};


/**
 *	qb_select_field_change is called whenever a query builder's row field is selected
 */
var qb_select_field_change = function() {
	parent = $(this).parents('li');
	var tbl_select = parent.find('#qb-table-select');
	var field_select = parent.find('#qb-field-select');
	var op_select = parent.find('#qb-operation-select');
	var filter_input = parent.find('#qb-filter-input');
	var filter_input2 = parent.find('#qb-filter-input2');
	// Check if field is actual field or just an attribute
	var tbl = tbl_select.val();
	var field = field_select.val();
	var allowed_ops = [];
    var field_type;
	if (is_attribute(tbl, field)) {
        for (var i=0; i<attributes[tbl].length; i++) {
            if (field == attributes[tbl][i].name) {
                allowed_ops = allowed_operations_attributes[attributes[tbl][i].type];
                field_type = attributes[tbl][i].type;
            }
        }
	} else {
        // Grab field type for allowed operations
        for (var i = 0; i < fields[tbl].length; i++) {
            if (field == fields[tbl][i].name) {
                allowed_ops = allowed_operations[fields[tbl][i].type];
                field_type = fields[tbl][i].type;
            }
        }
    }
    // Populate operations select
    op_select.find('option').remove().end().append('<option value="UNDEFINED" selected disabled>Select operation...</option>').val('UNDEFINED');
    for (var i=0; i<allowed_ops.length; i++) {
        op_select.append($('<option>', { value: allowed_ops[i], text: allowed_ops[i] }));
    }
    op_select.removeAttr('disabled');
    filter_input.removeAttr('disabled');
}

/**
 *	qb_select_operation_change is called whenever the operation select box is changed for query builder row
 */
var qb_select_operation_change = function() {
	parent = $(this).parents('li');
	var tbl_select = parent.find('#qb-table-select');
	var field_select = parent.find('#qb-field-select');
	var op_select = parent.find('#qb-operation-select');
	var filter_input = parent.find('#qb-filter-input');
	var filter_input2 = parent.find('#qb-filter-input2');

	op = op_select.val();
	if (op.indexOf('between') != -1) {
		filter_input2.show();
		filter_input2.removeAttr('disabled');
	} else {
		filter_input2.hide();
		filter_input2.attr('disabled', 'disabled');
	}
}

/**
 * Document ready function sets event listeners and things that happen when the page is loaded
 *
 */

$(document).ready(function() {

	load_field_lists();

	$('#querybuilder-execute-button').click(qb_execute);
	$('#querybuilder-load-button').click(qb_load);
    $('#save-query-save-button').click(qb_save);
	$('.qb-addrow').click(qb_add_row);
	$('.qb-delrow').click(qb_del_row);
	$('.qb-table-select').change(qb_select_table_change);
	$('.qb-field-select').change(qb_select_field_change);
	$('.qb-operation-select').change(qb_select_operation_change);

	$('#sortable').sortable();
	$('#sortable').disableSelection();

});

</script>
{% endblock script_block %}
