{% load static %}
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
													<h4>Query Results</h4>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="query-result">
                                    <thead>
                                        <tr>
                                            <th>Animal ID</th>
                                            <th>Mark Type</th>
                                            <th>Mark Number</th>
                                            <th>log Type</th>
                                            <th>log Date</th>
																						<th>Location</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>000010</td>
                                            <td>Plastic</td>
                                            <td>000001</td>
																					  <td>Resight</td>
																						<td>29/05/2014</td>
																						<td>Albatross Island</td>     
                                        </tr>

                                        <tr>
                                            <td>123456</td>
                                            <td>Metal</td>
                                            <td>654321</td>
                                            <td>Resight</td>
                                            <td>29/05/2014</td>
                                            <td>Albatross Island</td>
                                        </tr>

                                        <tr>
                                            <td>000333</td>
                                            <td>Plastic</td>
                                            <td>333000</td>
                                            <td>Resight</td>
                                            <td>29/05/2014</td>
                                            <td>Albatross Island</td>
                                        </tr>

                                        <tr>
                                            <td>111110</td>
                                            <td>metal</td>
                                            <td>000020</td>
                                            <td>Resight</td>
                                            <td>29/05/2014</td>
                                            <td>Albatross Island</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                           
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
	   <!-- Core Scripts - Include with every page -->
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>

    <!-- Page-Level Plugin Scripts - Tables -->
    <script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.bootstrap.js' %}"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="{% static 'js/sb-admin.js' %}"></script>
	
    
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
$(document).ready(function() {
    $('#query-result').dataTable();
});

</script>
