{% load static %}
<style type="text/css">
<!--
	table tr{height:45px;}
	table {/*width:70%;*/}
	
-->
</style>
<script type="text/javascript">
var index=1;
function deleterow(obj){
	
		$(obj).parent().parent().remove();
	}
function add(){
		//$('tr[name=selecttr]').add("<tr align='left'>"+$('tr[name=selecttr]').html()+"</tr>");
		
		  var addContent=$('tr[name=selecttr]').html();
		  
		  var addny="<td width='60'></td><td width='150'>"+
				"<select name='' class='form-control' onclick='show(this.value)'>"+
					"<option value='Animal'>Animal</option>"+
					"<option value='Animal_Attributes'>Animal Attributes</option>"+
					"<option value='Mark'>Mark</option>"+
					"<option value='Mark_Attributes'>Mark Attributes</option>"+
					"<option value='Log'>Log</option>"+
					"<option value='Log_Attributes'>Log Attributes</option>"+
					"<option value='Breeding'>Breeding</option>"+
					"<option value='Breeding__Attributes'>Breeding Attributes</option>"+
				"</select></td><td width='5'></td><td width='60'><label>Field：</label></td><td width='150'>"+
				"<select name='' class='form-control' id='Animal' style='display:;'>"+
				"<option value='1'>Animal1</option><option value='2'>Animal2</option><option value='3'>Animal3</option>"+
				"</select>"+
			"<select name='' class='form-control' id='Mark' style='display:none;'><option value='1'>Mark1</option><option value='2'>Mark2</option><option value='3'>Mark3</option></select><select name='' class='form-control' id='Log' style='display:none;'><option value='1'>Log1</option><option value='2'>Log2</option><option value='3'>Log3</option></select><select name='' class='form-control' id='Breeding' style='display:none;'><option value='1'>Breeding1</option><option value='2'>Breeding2</option><option value='3'>Breeding3</option></select></td><td width='5'></td><td width='60'><label>Comparison：</label></td><td width='150'><select name='' class='form-control'><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option></select></td><td width='5'></td><td width='60'><label>Value:</label></td><td width='150'><input class='form-control' type='text' name='' value='' /></td><td width='5'></td>";
	
		  var addoption="<td><input type='button' name='select"+index+"' value='-'  class='btn btn-default'  onClick='deleterow(this)'/></td>";
			$('table[name=selectoption]').append("<tr align='left'>"+addny+addoption+"</tr>");	
		
		  }

function show(Result){
					if (Result=="Animal"){Animal.style.display="";Mark.style.display="none";Log.style.display="none";Breeding.style.display="none";Animal_Attributes.style.display="none";Mark_Attributes.style.display="none";Log_Attributes.style.display="none";Breeding_Attributes.style.display="none";}
					if (Result=="Mark"){Animal.style.display="none";Mark.style.display="";Log.style.display="none";Breeding.style.display="none";Animal_Attributes.style.display="none";Mark_Attributes.style.display="none";Log_Attributes.style.display="none";Breeding_Attributes.style.display="none";}
					if (Result=="Log"){Animal.style.display="none";Mark.style.display="none";Log.style.display="";Breeding.style.display="none";Animal_Attributes.style.display="none";Mark_Attributes.style.display="none";Log_Attributes.style.display="none";Breeding_Attributes.style.display="none";}
					if (Result=="Breeding"){Animal.style.display="none";Mark.style.display="none";Log.style.display="none";Breeding.style.display="";Animal_Attributes.style.display="none";Mark_Attributes.style.display="none";Log_Attributes.style.display="none";Breeding_Attributes.style.display="none";}
					if (Result=="Animal_Attributes"){Animal_Attributes.style.display="";Animal.style.display="none";Mark.style.display="none";Log.style.display="none";Breeding.style.display="none";Mark_Attributes.style.display="none";Log_Attributes.style.display="none";Breeding_Attributes.style.display="none";}
					if (Result=="Mark_Attributes"){Mark_Attributes.style.display="";Animal_Attributes.style.display="none";Animal.style.display="none";Mark.style.display="none";Log.style.display="none";Breeding.style.display="none";Log_Attributes.style.display="none";Breeding_Attributes.style.display="none";}
					if (Result=="Log_Attributes"){Log_Attributes.style.display="";Mark_Attributes.style.display="none";Animal_Attributes.style.display="none";Animal.style.display="none";Mark.style.display="none";Log.style.display="none";Breeding.style.display="none";Breeding_Attributes.style.display="none";}
					if (Result=="Breeding_Attributes"){Breeding_Attributes.style.display="";Log_Attributes.style.display="none";Mark_Attributes.style.display="none";Animal_Attributes.style.display="none";Animal.style.display="none";Mark.style.display="none";Log.style.display="none";Breeding.style.display="none";}
					}

	
    

</script>
</head>

<body>
<br><br>

	<table align="center" border="0" width="" name="selectoption" id="selectoption">
		<tr align="left" name="selecttr">  
			<td width="60"><label>Table</label></td>
			<td width="150">
				<!--<input class="form-control" type="text" name="" value="" /> -->
				<select name="" class="form-control" onclick="show(this.value)">
					<option value="Animal">Animal</option>
					<option value="Animal_Attributes">Animal Attributes</option>
					<option value="Mark">Mark</option>
					<option value="Mark_Attributes">Mark Attributes</option>
					<option value="Log">Log</option>
					<option value="Log_Attributes">Log Attributes</option>
					<option value="Breeding">Breeding</option>
					<option value="Breeding_Attributes">Breeding Attributes</option>	
				</select>
			</td>
            <td width="5"></td>
			<td width="60"><label>Field</label></td>
			<td width="150">
				<select name="" class="form-control" id="Animal" style="display:;">
					<option value="1">ID</option>
					<option value="2">Gender</option>
				</select>
				<select name="" class="form-control" id="Mark" style="display:none;">
					<option value="1">Mark Number</option>
					<option value="2">Mark Type</option>
					<option value="3">Is Present</option>
					<option value="4">Date Attached</option>
				</select>
				<select name="" class="form-control" id="Log" style="display:none;">
					<option value="1">Log Date</option>
					<option value="2">Log Type</option>
					<option value="3">Season</option>
					<option value="4">Sample_taken</option>
				</select>
				<select name="" class="form-control" id="Breeding" style="display:none;">
					<option value="1">Mate</option>
					<option value="2">Offspring</option>
					<option value="3">Season</option>
				</select>
				<select name="" class="form-control" id="Animal_Attributes" style="display:none;">
					<option value="1">Sientific Name</option>
					<option value="2">Common Name</option>
					<option value="3">Sex Dection Method</option>
					<option value="4">Provenance</option>
					<option value="5">Status</option>
				</select>
				<select name="" class="form-control" id="Mark_Attributes" style="display:none;">
					<option value="1">Status</option>
					<option value="2">latitude</option>
					<option value="3">Longitude</option>
					<option value="4">Location</option>
					<option value="5">Northing</option>
					<option value="6">Easting</option>
				</select>
				<select name="" class="form-control" id="Log_Attributes" style="display:none;">
					 <option value="1">Status</option>
					 <option value="2">Colony</option>
					 <option value="3">Study</option>
					 <option value="4">Location</option>
					 <option value="5">Latitude</option>
					 <option value="6">Longitude</option>
				</select>
				<select name="" class="form-control" id="Breeding_Attributes" style="display:none;">
					 <option value="1">Nest ID</option>
					 <option value="2">Location</option>
					 <option value="3">Attempt Fate</option>
					 <option value="4">Chick Pox</option>
					 <option value="5">Chick Weight</option>
					 <option value="6">Egg Hatched</option>
					 <option value="7">Chick Fledged</option>
					 <option value="8">Chick Down</option>
					 <option value="9">Failure Date</option>
					 <option value="10">Failure Stage</option>			
				</select>
			</td><td width="5"></td>
			<td width="60"><label>Comparison</label></td>
			<td width="150">
				<!--<input class="form-control" type="text" name="" value="" /> -->
				<select name="" class="form-control">
					<option value="==">==</option>
					<option value="!=>">!=</option>
					<option value="<"> < </option>
					<option value=">"> > </option>
					<option value="<="> <= </option>
					<option value=">="> >= </option>
				</select>
			</td><td width="5"></td>
			<td width="60"><label>Value:</label></td>
			<td width="150"><input class="form-control" type="text" name="" value="" /></td><td width="5"></td>
          
            
			<td><input type="button" name="select0" id="select0" value="+"  class="btn btn-default"  onClick="add()"/></td>
           
		</tr>
        </table>
        
	<div align="center">
	<table align="center" border="0" >
	<tr align="right">
    <td colspan="22" width="680"></td>
	<td colspan="11">
	<input type="button" name="" value="Save"  class="btn btn-default"/>
	<input type="button" name="" value="Load" class="btn btn-default"/>
	<input type="button" name="" value="Execute" class="btn btn-default"/>
	</td>
	</tr>
	</table>
<br />
    </div>
