{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<div class="col-lg-12">
	<div class="panel-heading">
		<h2 class="page-header">Animal Search</h2>
	</div>
	<div class="col-lg-6">
		<div class="container-fluid">
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-warning">
						<p> {{message }}</p>
					</div>
				{% endfor %}
			{% endif %}
			<div class="row">
				<div class="col-lg-12">
					<form role="form" method="POST" action="/portal/search/" id="basicsearchform">
						{% csrf_token %}
						<div class="form-group">
							<label class="control-label" style="color:#428bca"> Select Mark Type</label>
							<div>
								<select name="mark_type" class="form-control">
									{% for m in mark_types %}
										<option value="{{ m }}">{{ m }}</option>
									{% endfor %}
								</select>
								<p class="help-block">Select Mark Type</p>
							</div>
							</br>							
							<div class="form-group">
								<label style="color:#428bca">Mark Identification Number</label>
								<input name="mark_id" id="mark_id" class="form-control">
								<p class="help-block">Enter the number printed/located on the mark</p>
							</div>
					
							<div class="form-group">
								<input class="btn btn-primary" type="submit">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Division which holds the table -->
<div class="row">
	<div class="container-fluid">
		<div class="col-lg-6" id="animal-list-panel" style="display:none">
			<div class="table-responsive">
				<!-- Table - heading row -->
				<table class="table table-striped table-bordered table-hover" id="animal-list" >
					<thead>
						<tr class="info">
						 <th>Animal ID</th>
						 <th>Species</th>
						</tr>
					</thead>
					<!-- Table - pull data from javascript to build table -->
					<tbody>
						{% for data, species in animals %}
							<tr class="odd gradeX">
								<td><a href="/portal/animal/view/{{data.id}}">{{data.id}}</a></td>
								<td>{{species}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div><!-- /.table-responsive -->
		</div>
	</div>
</div>


{% endblock body_block %}

{% block script_block %}
<script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/plugins/dataTables/dataTables.bootstrap.js' %}"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script>

$(document).ready(function() {

$("#animal-list").dataTable({
  "bPaginate": false,
  "bFilter" :false});
  
  if($('#animal-list tbody .dataTables_empty').length){
    $('#animal-list-panel').hide()
}
else
{
  
  $('#animal-list-panel').show()

}

  
  /*if($('#animal-list tbody tr').find('td').hasClass('.dataTables_empty') == false)
  {
     $("#animal-list").show();
     
  }*/
  

});

$(function() {
//	var availableMarks = [{% for m in mark_numbers %}'{{ m }}'{% if not forloop.last %},{% endif %}{% endfor %}];
//	$("#mark_id").autocomplete({ source: availableMarks, minLength: 3 });

	$.ajax({
		url: '/portal/api/mark/numbers/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			$("#mark_id").autocomplete({source: data.mark_numbers, minLength: 3});
		},
	});

});
</script>
{% endblock script_block %}