{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class="panel-body">
{% if info_msg %}
<div class="alert alert-success alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
{{ info_msg }}
</div>
{% endif %}
<div class="alert alert-danger alert-dismissable" style="display: none;">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h2 class="page-header" >User Management <a href="#" data-title="What is User Management?" data-toggle="popover" data-content="User management is the process of controlling which users are allowed to connect to the database server and what permissions they have on each database." rel="popover"><i class="fa fa-question-circle"></i></a></h2>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				User List
			</div>
			<!-- /.panel-heading -->
      <div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover" id="user-list">
          	<thead>
            	<tr>
              	<th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Active</th>
                <th>Admin</th>
								<th>Controls</th>
              </tr>
            </thead>
            <tbody>
							{% for u in users %}
							{% if forloop.counter|divisibleby:2 %}
							<tr class="even gradeX">
							{% else %}
							<tr class="odd gradeX">
							{% endif %}
              	<td><a href="/portal/user/editform/{{ u.username }}" data-toggle="modal" data-target="#user-detail-div">{{ u.username }}</a></td>
              	<td>{{ u.first_name }} {{ u.last_name }}</td>
              	<td>{{ u.email }}</td>
              	<td>
              		{% if u.is_active == True %}
              			<i class="fa fa-check" rel="tooltip" title="active"></i></i>
              		{% else %}
              			<i class="fa fa-times" rel="tooltip" title="non active"></i>
              		{% endif %}
              	</td>
              	<td>
              		{% if u.is_superuser == True %}<i class="fa fa-check" rel="tooltip" title="active"></i>{% endif %}
              	</td>
					    	<td>
					    		<a href="/portal/user/editform/{{ u.username }}" data-toggle="modal" data-target="#user-detail-div"><i class="fa fa-pencil" rel="tooltip" title="edit user"></i></a> &nbsp; &nbsp;
					    		<a href="#"><i class="fa fa-trash-o" rel="tooltip" title="delete"></i></a>
					    	</td>
            	</tr>
							{% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
        <div class="well">
        	<a class="btn btn-primary" data-toggle="modal" data-target="#user-detail-div" href="/portal/user/addform">Add User</a>
        </div>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div id="user-detail-div" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
		</div>
	</div>
</div>
{% endblock body_block %}

{% block script_block %}
<script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/plugins/dataTables/dataTables.bootstrap.js' %}"></script>

<script>
(function($) {

$(document).ready(function() {

	// Start the user list table
	$("#user-list").dataTable();
	
});

$('[rel=popover]').popover();

})(jQuery);

</script>
{% endblock script_block %}
