{% load static %}
<div class="row">
	<div class="col-lg-12"> 
		<form role="form" method="POST" action="/portal/user/add/" id="adduserform">
			{% csrf_token %}
				<input type="hidden" name="perm-field" id="perm-field" value="">
				<div class="panel panel-primary">
					<div class="panel-heading">
						{% if adduser == True %}
							<h2>Add User</h2>
							<input type="hidden" name="new" value="1">
							<input type="hidden" name="new" value="1">
						{% else %}
							<h2>Edit User: {{ user_detail.username }}</h2>
						{% endif %}
					</div>
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<input class="hidden" name="id" id="id" value="{{ user_detail.id }}">
										
										<!-- Username div -->
										<div class="form-group">
											<label>Username</label>
											<input class="form-control" name="username" id="username" value="{{ user_detail.username }}"required>
											<p class="help-block">Usernames are alphanumeric characters.</p>
										</div>
										
										<!-- First Name div -->
										<div class="form-group">
											<label>First Name</label>
											<input class="form-control" name="first_name" id="first_name" value="{{ user_detail.first_name }}">
											<p class="help-block">Cannot be blank.</p>
										</div>
										
										<!-- Last Name div -->
										<div class="form-group">
											<label>Last Name</label>
											<input class="form-control" name="last_name" id="last_name" value="{{ user_detail.last_name }}">
											<p class="help-block">Cannot be blank.</p>
										</div>
										
										<!-- Email Name div -->
										<div class="form-group">
											<label>Email</label>
											<input class="form-control" name="email" id="email" value="{{ user_detail.email }}">
											<p class="help-block">Cannot be blank.</p>
										</div>
										
										<div class="form-group">
											<label>Organisation</label>
											<input class="form-control" name="organisation" id="organisation" value="{{ user_profile.organisation }}">
											<p class="help-block">Organisation where user works.</p>
										</div>
									</div>
								</div><!-- /.col-lg-6 (nested) -->
								<div class="col-lg-6">
									
									<div class="form-group">
										<label>Phone</label>
										<input class="form-control" name="phone" id="phone" value="{{ user_profile.phone }}">
										<p class="help-block">Contact number for user.</p>
									</div>
									{% if adduser == True %}
										<div class="form-group">
											<label>Password</label>
											<input type="password" class="form-control" name="password" id="password"required>
											<p class="help-block">Make it a good one.</p>
										</div>
										<div class="form-group">
											<label>Confirm Password</label>
											<input type="password" class="form-control" name="confirm_password" id="confirm_password"required>
											<p class="help-block">Enter password twice to change/set.</p>
										</div>
									{% else %}
										<div >
											<label>Password</label>
											<input type="password" class="form-control" name="password" id="password">
											<p class="help-block">Make it a good one.</p>
										</div>
										<div class="form-group">
											<label>Confirm Password</label>
											<input type="password" class="form-control" name="confirm_password" id="confirm_password">
											<p class="help-block">Enter password twice to change/set.</p>
										</div>
									{% endif %}											
									
									<div class="form-group">
										<div class="checkbox">
											<label>
											<input type="checkbox" name="active" id="active" value="1" {% if user_detail.is_active == True or adduser == True  %}checked{% endif %}>Active
											</label>
										</div>
										<div class="checkbox">
											<label>
												<input type="checkbox" name="administrator" id="administrator" value="1" {% if user_detail.is_superuser == True %}checked{% endif %}>Administrator
											</label>
										</div>
									</div>
									<div class="form-group">
										{% if adduser == True %}
											<button id="userform-save" class="btn btn-primary" name="new" value="new">Submit</button>
										{% else %}
											<button id="userform-save" class="btn btn-primary" name="edit" value="edit">Update</button>
										{% endif %}
											<button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Cancel</button>
									</div>										
								</div><!-- /.col-lg-6 (nested) -->
							</div><!-- /.row (nested) -->
						</div><!-- /.panel-body -->			
					</div>

					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h4>Dataset Access</h4>
								</div><!-- /.panel-heading -->
							</div>

							<div class="panel-body">
								<div class="table-responsive">
									<table class="table table-striped table-bordered table-hover" id="dataset-access">
										<thead>
											<tr>
												<th>Location</th>
												<th>Access</th>
												<th>Default</th>
											</tr>
										</thead>
										<tbody>
											{% for d in ds_combolist %}	
												<tr>
													<td>
														<input name="dsid" id="dsid" type="hidden" value="{{ d.id }}">
														<label>{{ d.name }}</label>
													</td>
													<td>
														<select name="datasets" class="form-control" id="datasets" value="{{ d.name }}">
															{% if not d.perm %}
																<option selected value="none">None</option>
															{% else %}
																<option value="none">None</option>
															{% endif %}
															<option value="can_read" {% if d.perm == "can_read" %}selected{% endif %}>Read</option>
															<option value="can_edit" {% if d.perm == "can_edit" %}selected{% endif %}>Edit</option>
															<option value="can_admin" {% if d.perm == "can_admin" %}selected{% endif %}>Admin</option>
														</select>
													</td>
													<td>
														{% if user_profile.default_dataset.id == d.id %}
															<input type="radio" name="default_dataset" value="{{ d.id }}" checked>
														{% else %}
															<input type="radio" name="default_dataset" value="{{ d.id }}">
														{% endif %}
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table><!-- </table> -->
								</div>
							</div><!-- /.col-lg-6 (nested) -->
						</div>
					</div><!-- /.row (nested) -->
				</div><!-- /.panel panel-default -->																							
			</div><!-- /.panel --> 
	</form>
</div><!-- /.col-lg-12 -->


{% block script_block %}			
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/plugins/dataTables/dataTables.bootstrap.js' %}"></script>


<script>
$('body').on('hidden.bs.modal', '.modal', function () {
    $(this).removeData('bs.modal');
})

var submitUserForm = function(event) {
	console.log("SUBMITTING");
	event.preventDefault(); // Stop automatic submission
	rows = $('#dataset-access').dataTable().fnGetNodes();
	var perm_field = [];
	for (var i=0; i<rows.length; i++) { 
		var dsid = $(rows[i]).find("td:eq(0)").find('#dsid').val();
		var perm = $(rows[i]).find("td:eq(1)").find("#datasets").val();
		if (perm != 'none') {
			perm_field.push(dsid + '_' + perm);
		}
	}
	$('#perm-field').val(JSON.stringify(perm_field));
	$('#adduserform').submit();

};

$(document).ready(function() {

  // Start the user list table
  $("#dataset-access").dataTable();
  $("#userform-save").click(submitUserForm);

});

</script>
{% endblock script_block %}	